{% extends 'base_dy.html.twig' %}
{% block body %}
    <body data-new-gr-c-s-check-loaded="14.1044.0" data-gr-ext-installed="">
    <div class="container">
        {% include 'head.html.twig' %}
        <div class="list_r cclear">
            <ul class="breadcrumb cclear">
                <li><a href="{{ path("index") }}">首页</a></li>
                <li class="active">{{ title }}</li>
            </ul>
            <div class="sort-box">
                <div class="sort-title"><h3>影片索引</h3><span class="reset label label-info"><a href="javascript:void(0);" class="conreset">重置条件</a></span><span class="conbread"><em>列表</em></span></div>
                <div class="sort-cnt">
                    <div class="sort-list"><h5>类型：</h5>
                        <ul>
                            <li><a rel="nofollow" class="current" data="id-0" href="javascript:void(0);">全部</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="id-1">动作片</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="id-2">科幻片</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="id-3">爱情片</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="id-4">喜剧片</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="id-5">恐怖片</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="id-6">战争片</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="id-7">剧情片</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="id-8">纪录片</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="id-9">动画片</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="id-10">电视剧</a></li>
                        </ul>
                    </div>
                    <div class="sort-list"><h5>地区：</h5>
                        <ul>
                            <li><a rel="nofollow" class="current" data="area-0" href="javascript:void(0);">全部</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-大陆">大陆</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-香港">香港</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-美国">美国</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-英国">英国</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-日本">日本</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-韩国">韩国</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-法国">法国</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-德国">德国</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-加拿大">加拿大</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-意大利">意大利</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-台湾">台湾</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-印度">印度</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-泰国">泰国</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-西班牙">西班牙</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-澳大利亚">澳大利亚</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-瑞典">瑞典</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-比利时">比利时</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-俄罗斯">俄罗斯</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-荷兰">荷兰</a></li>
                            <li><a rel="nofollow" href="javascript:void(0);" data="area-丹麦">丹麦</a></li>
                        </ul>
                    </div>
                    <div class="sort-list"><h5>年代：</h5>
                        <ul>
                            <li><a rel="nofollow" class="current" data="year-0" href="javascript:void(0);">全部</a></li>
                            <li><a rel="nofollow" data="year-2022" href="javascript:void(0);">2022</a></li>
                            <li><a rel="nofollow" data="year-2021" href="javascript:void(0);">2021</a></li>
                            <li><a rel="nofollow" data="year-2020" href="javascript:void(0);">2020</a></li>
                            <li><a rel="nofollow" data="year-2019" href="javascript:void(0);">2019</a></li>
                            <li><a rel="nofollow" data="year-2018" href="javascript:void(0);">2018</a></li>
                            <li><a rel="nofollow" data="year-2017" href="javascript:void(0);">2017</a></li>
                            <li><a rel="nofollow" data="year-2016" href="javascript:void(0);">2016</a></li>
                            <li><a rel="nofollow" data="year-2015" href="javascript:void(0);">2015</a></li>
                            <li><a rel="nofollow" data="year-2014" href="javascript:void(0);">2014</a></li>
                            <li><a rel="nofollow" data="year-2013" href="javascript:void(0);">2013</a></li>
                            <li><a rel="nofollow" data="year-2012" href="javascript:void(0);">2012</a></li>
                            <li><a rel="nofollow" data="year-2011" href="javascript:void(0);">2011</a></li>
                            <li><a rel="nofollow" data="year-2010" href="javascript:void(0);">2010</a></li>
                            <li><a rel="nofollow" data="year-2009" href="javascript:void(0);">2009</a></li>
                            <li><a rel="nofollow" data="year-2008" href="javascript:void(0);">2008</a></li>
                            <li><a rel="nofollow" data="year-2007" href="javascript:void(0);">2007</a></li>
                            <li><a rel="nofollow" data="year-2006" href="javascript:void(0);">2006</a></li>
                            <li><a rel="nofollow" data="year-2005" href="javascript:void(0);">2005</a></li>
                            <li><a rel="nofollow" data="year-2004" href="javascript:void(0);">2004</a></li>
                            <li><a rel="nofollow" data="year-2003" href="javascript:void(0);">2003</a></li>
                        </ul>
                    </div>
                    <div class="sort-list"><h5>标签：</h5>
                        <ul>
                            <li><a rel="nofollow" class="current" data="wd-0" href="javascript:void(0);">全部</a></li>
                            <li><a rel="nofollow" data="wd-经典" href="javascript:void(0);">经典</a></li>
                            <li><a rel="nofollow" data="wd-悬疑" href="javascript:void(0);">悬疑</a></li>
                            <li><a rel="nofollow" data="wd-惊悚" href="javascript:void(0);">惊悚</a></li>
                            <li><a rel="nofollow" data="wd-短片" href="javascript:void(0);">短片</a></li>
                            <li><a rel="nofollow" data="wd-情色" href="javascript:void(0);">情色</a></li>
                            <li><a rel="nofollow" data="wd-同性" href="javascript:void(0);">同性</a></li>
                            <li><a rel="nofollow" data="wd-音乐" href="javascript:void(0);">音乐</a></li>
                            <li><a rel="nofollow" data="wd-歌舞" href="javascript:void(0);">歌舞</a></li>
                            <li><a rel="nofollow" data="wd-家庭" href="javascript:void(0);">家庭</a></li>
                            <li><a rel="nofollow" data="wd-儿童" href="javascript:void(0);">儿童</a></li>
                            <li><a rel="nofollow" data="wd-传记" href="javascript:void(0);">传记</a></li>
                            <li><a rel="nofollow" data="wd-历史" href="javascript:void(0);">历史</a></li>
                            <li><a rel="nofollow" data="wd-犯罪" href="javascript:void(0);">犯罪</a></li>
                            <li><a rel="nofollow" data="wd-西部" href="javascript:void(0);">西部</a></li>
                            <li><a rel="nofollow" data="wd-奇幻" href="javascript:void(0);">奇幻</a></li>
                            <li><a rel="nofollow" data="wd-冒险" href="javascript:void(0);">冒险</a></li>
                            <li><a rel="nofollow" data="wd-灾难" href="javascript:void(0);">灾难</a></li>
                            <li><a rel="nofollow" data="wd-武侠" href="javascript:void(0);">武侠</a></li>
                            <li><a rel="nofollow" data="wd-古装" href="javascript:void(0);">古装</a></li>
                            <li><a rel="nofollow" data="wd-运动" href="javascript:void(0);">运动</a></li>
                        </ul>
                    </div>
                    <div class="sort-list"><h5>视图：</h5>
                        <ul>
                            <li><a rel="nofollow" class="current" data="view-0" href="javascript:void(0);">列表</a></li>
                            <li><a rel="nofollow" data="view-1" href="javascript:void(0);">海报</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="list_all">
                <ul>
                    <li><a href="https://www.domp4.cc/html/nZdYEJ00000J.html"><img class="lazy" data-original="https://img.domp4.cc/vod/c/61e18df53108d.jpg" src="./影片索引-MP4电影_files/61e18df53108d.jpg" alt="《五月槐花香》" style="display: block;"></a>
                        <div class="text_info"><h2><a href="https://www.domp4.cc/html/nZdYEJ00000J.html"><font color="#EF4E1D">2004国产高分精品剧《五月槐花香》全32集</font></a></h2>
                            <p class="actor"><span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E5%BC%A0%E5%B0%91%E5%8D%8E-1.html">张少华</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E8%8B%97%E5%9C%83-1.html">苗圃</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E5%BC%A0%E9%93%81%E6%9E%97-1.html">张铁林</a></span></p>
                            <p><span class="area">大陆</span><span class="update_time">2022-01-14</span></p>
                            <p class="info">清末民初，乱世之秋，老北京的琉璃厂却还是一片繁荣。泛古堂掌柜佟奉全（张国立 饰）是一个有着一手做旧补旧的老古董…</p></div>
                    </li>
                    <li><a href="https://www.domp4.cc/html/woYQjFEEEEEF.html"><img class="lazy" data-original="https://img.domp4.cc/vod/6/61e18d9dbebe2.jpg" src="./影片索引-MP4电影_files/61e18d9dbebe2.jpg" alt="《潇洒佳人淡淡妆》" style="display: block;"></a>
                        <div class="text_info"><h2><a href="https://www.domp4.cc/html/woYQjFEEEEEF.html">2022国产古装言情网剧《潇洒佳人淡淡妆》全24集</a></h2>
                            <p class="actor"><span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E7%8E%8B%E6%98%9F%E7%8E%AE-1.html">王星玮</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E6%9B%B9%E5%A9%89%E7%91%BE-1.html">曹婉瑾</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E6%99%8F%E7%B4%AB%E4%B8%9C-1.html">晏紫东</a></span></p>
                            <p><span class="area">大陆</span><span class="update_time">2022-01-14</span></p>
                            <p class="info">杰克恢复了身份后，得到了游戏世界毁灭的提示。因为亓官仪不死去，世界就无法正常运行。杰克为了司妍，决定对抗命运，…</p></div>
                    </li>
                    <li><a href="https://www.domp4.cc/html/j1OvANDDDDDN.html"><img class="lazy" data-original="https://img.domp4.cc/vod/5/61c142b084904.jpg" src="./影片索引-MP4电影_files/61c142b084904.jpg" alt="《风味人间 第三季》" style="display: block;"></a>
                        <div class="text_info"><h2><a href="https://www.domp4.cc/html/j1OvANDDDDDN.html">2021国产美食纪录片《风味人间第三季》更新至04集</a></h2>
                            <p class="actor"><span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E6%9D%8E%E7%AB%8B%E5%AE%8F-1.html">李立宏</a></span></p>
                            <p><span class="area">大陆</span><span class="update_time">2022-01-14</span></p>
                            <p class="info">第三季区别于前两季，首次从中国海洋与海鲜入手，捕捉海中鲜物的独特节拍与极致美味，打造中国海鲜风味指南，满足美食…</p></div>
                    </li>
                    <li><a href="https://www.domp4.cc/html/H62YsK44444K.html"><img class="lazy" data-original="https://img.domp4.cc/vod/7/61dc45e190452.jpg" src="./影片索引-MP4电影_files/61dc45e190452.jpg" alt="《铁拳英雄》" style="display: block;"></a>
                        <div class="text_info"><h2><a href="https://www.domp4.cc/html/H62YsK44444K.html">2022TVB港剧《铁拳英雄》更新至05集</a></h2>
                            <p class="actor"><span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E7%A5%9D%E6%96%87%E5%90%9B-1.html">祝文君</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E5%90%B4%E9%A6%99%E4%BC%A6-1.html">吴香伦</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E8%B5%B5%E7%92%A7%E6%B8%9D-1.html">赵璧渝</a></span></p>
                            <p><span class="area">香港</span><span class="update_time">2022-01-14</span></p>
                            <p class="info">此剧以泰国曼谷唐人街作为背景，讲述华人到当地的奋斗史。</p></div>
                    </li>
                    <li><a href="https://www.domp4.cc/html/QWG0tE22222E.html"><img class="lazy" data-original="https://img.domp4.cc/vod/4/5f2c17aa25546.jpg" src="./影片索引-MP4电影_files/5f2c17aa25546.jpg" alt="《三生有幸遇上你》" style="display: block;"></a>
                        <div class="text_info"><h2><a href="https://www.domp4.cc/html/QWG0tE22222E.html">2021国产电视剧《三生有幸遇上你》更新中40集</a></h2>
                            <p class="actor"><span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E7%8E%8B%E4%B8%BD%E5%9D%A4-1.html">王丽坤</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E9%82%B5%E6%B1%B6-1.html">邵汶</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E8%92%8B%E6%B2%81%E8%8A%B8-1.html">蒋沁芸</a></span></p>
                            <p><span class="area">大陆</span><span class="update_time">2022-01-14</span></p>
                            <p class="info">侯爵的公寓被不法入侵，受到莫名的死亡威胁。侯志荣担心儿子的安全，决定给侯爵请个私人保镖。安保公司女保镖伍十一被…</p></div>
                    </li>
                    <li><a href="https://www.domp4.cc/html/zphbLE55555E.html"><img class="lazy" data-original="https://img.domp4.cc/vod/4/60b8fea1a5071.jpg" src="./影片索引-MP4电影_files/blank.png" alt="《完美伴侣》"></a>
                        <div class="text_info"><h2><a href="https://www.domp4.cc/html/zphbLE55555E.html">2022国产职场电视剧《完美伴侣》更新至15集</a></h2>
                            <p class="actor"><span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E7%8E%8B%E8%80%80%E5%BA%86-1.html">王耀庆</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E5%BC%A0%E9%B2%81%E4%B8%80-1.html">张鲁一</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E7%8E%8B%E7%9C%9F%E5%84%BF-1.html">王真儿</a></span></p>
                            <p><span class="area">大陆</span><span class="update_time">2022-01-14</span></p>
                            <p class="info">陈珊是一家著名律所证券部的女律师，近40岁的她遭遇上升瓶颈。因此她全身心投入工作，根本无暇顾及丈夫和儿子的情感需…</p></div>
                    </li>
                    <li><a href="https://www.domp4.cc/html/hkwqgO77777O.html"><img class="lazy" data-original="https://img.domp4.cc/vod/2/61cbeb7d307a0.jpg" src="./影片索引-MP4电影_files/blank.png" alt="《电视剧超越》"></a>
                        <div class="text_info"><h2><a href="https://www.domp4.cc/html/hkwqgO77777O.html">2022胡军沙溢国产剧《超越》更新至11集</a></h2>
                            <p class="actor"><span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E6%9D%8E%E5%BA%9A%E5%B8%8C-1.html">李庚希</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E8%83%A1%E5%86%9B-1.html">胡军</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E6%B2%99%E6%BA%A2-1.html">沙溢</a></span></p>
                            <p><span class="area">大陆</span><span class="update_time">2022-01-14</span></p>
                            <p class="info">2015年，北京申办2022年冬季奥运会成功。为响应国家“北冰南展”战略，前国家短道速滑队队员郑凯新领命创办青岛速滑队…</p></div>
                    </li>
                    <li><a href="https://www.domp4.cc/html/l54W1J99999J.html"><img class="lazy" data-original="https://img.domp4.cc/vod/4/5e908904e412a.jpg" src="./影片索引-MP4电影_files/blank.png" alt="《舌尖上的心跳》"></a>
                        <div class="text_info"><h2><a href="https://www.domp4.cc/html/l54W1J99999J.html">2022国产现代剧《舌尖上的心跳》更新至03集</a></h2>
                            <p class="actor"><span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E5%88%98%E5%AE%89%E7%90%AA-1.html">刘安琪</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E6%B1%AA%E5%8D%93%E6%88%90-1.html">汪卓成</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E5%88%98%E5%86%AC%E6%B2%81-1.html">刘冬沁</a></span></p>
                            <p><span class="area">大陆</span><span class="update_time">2022-01-14</span></p>
                            <p class="info">有天才味觉的小女生林可颂，喜欢着自己的同学宋意然并追到了美国。意外之中认识了米其林三星主厨江千帆并收她为徒并传…</p></div>
                    </li>
                    <li><a href="https://www.domp4.cc/html/rWE6WL55555L.html"><img class="lazy" data-original="https://img.domp4.cc/vod/1/61dd816ecbb67.jpg" src="./影片索引-MP4电影_files/blank.png" alt="《致命主妇》"></a>
                        <div class="text_info"><h2><a href="https://www.domp4.cc/html/rWE6WL55555L.html">2022国产都市短剧《致命主妇》更新至10集</a></h2>
                            <p class="actor"><span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E5%AD%99%E8%AF%AD%E6%B6%B5-1.html">孙语涵</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E9%99%B6%E9%86%89-1.html">陶醉</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E8%91%A3%E6%98%95%E8%B5%9F-1.html">董昕赟</a></span></p>
                            <p><span class="area">大陆</span><span class="update_time">2022-01-14</span></p>
                            <p class="info">城市里备受父母宠爱的艾青爱上了农村出身的理发师李大力，李大力拿了艾青父母支援的启动资金和艾青一起创业，业务蒸蒸…</p></div>
                    </li>
                    <li><a href="https://www.domp4.cc/html/DZhS2qcccccq.html"><img class="lazy" data-original="https://img.domp4.cc/vod/f/61cfe33c7a57d.jpg" src="./影片索引-MP4电影_files/blank.png" alt="《无法沉睡的她》"></a>
                        <div class="text_info"><h2><a href="https://www.domp4.cc/html/DZhS2qcccccq.html">2021国产网剧《无法沉睡的她》更新至16集</a></h2>
                            <p class="actor"><span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E5%88%98%E5%AE%A5%E7%95%85-1.html">刘宥畅</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E6%9C%B1%E5%98%89%E5%80%A9-1.html">朱嘉倩</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E5%BC%A0%E6%B5%A9%E5%93%B2-1.html">张浩哲</a></span></p>
                            <p><span class="area">大陆</span><span class="update_time">2022-01-14</span></p>
                            <p class="info">尹智莉为参加闺蜜李朵拉的婚礼来到如月别墅，却意外发现新郎林邱墨有着与自己男友张霄一样的脸。新郎与伴娘似乎关系密…</p></div>
                    </li>
                    <li><a href="https://www.domp4.cc/html/hvuHzB11111B.html"><img class="lazy" data-original="https://img.domp4.cc/vod/2/61cd205a23bcf.jpg" src="./影片索引-MP4电影_files/blank.png" alt="《幸福二重奏》"></a>
                        <div class="text_info"><h2><a href="https://www.domp4.cc/html/hvuHzB11111B.html">2022国产电视剧《幸福二重奏》更新至25集</a></h2>
                            <p class="actor"><span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E9%A9%AC%E5%BF%97%E5%A8%81-1.html">马志威</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E6%9F%AF%E9%A2%96-1.html">柯颖</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E5%AD%99%E8%89%BA%E6%B4%B2-1.html">孙艺洲</a></span></p>
                            <p><span class="area">大陆</span><span class="update_time">2022-01-14</span></p>
                            <p class="info">本剧改编自豆瓣阅读连载小说《老公孩子一起养》，作者爱莉莉。 廖莎是销售界的精英，性格强势，在事业上，她总是可以…</p></div>
                    </li>
                    <li><a href="https://www.domp4.cc/html/1uqsQ3111113.html"><img class="lazy" data-original="https://img.domp4.cc/vod/9/60a1fa35ed835.jpg" src="./影片索引-MP4电影_files/blank.png" alt="《王牌部队》"></a>
                        <div class="text_info"><h2><a href="https://www.domp4.cc/html/1uqsQ3111113.html">2021肖战军旅剧《王牌部队》更新至38集</a></h2>
                            <p class="actor"><span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E6%9D%8E%E5%B9%BC%E6%96%8C-1.html">李幼斌</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E9%92%9F%E6%A5%9A%E6%9B%A6-1.html">钟楚曦</a></span> / <span><a rel="nofollow" target="_blank" href="https://www.domp4.cc/search/%E5%82%85%E6%B5%A4%E9%B8%A3-1.html">傅浤鸣</a></span></p>
                            <p><span class="area">中国大陆</span><span class="update_time">2022-01-14</span></p>
                            <p class="info">剧集通过四十年的时代跨度，描述了一支王牌军队的成长历程，通过对个体的刻画，塑造了一群有灵魂、有本事、有血性、有…</p></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="vod_right">
            <div class="top">
                <script src="./影片索引-MP4电影_files/right.js"></script>
            </div>
            <div class="list-group cclear">
                <div class="cclear" id="heading-text">近期下载排行</div>
                <ul>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/c5BViK88888K.html" title="2021周渝民台湾剧《逆局》更新至全24集">2021周渝民台湾剧《逆局》更新至全24集</a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/Zdp1JC11111C.html" title="2021国产古装剧《雪中悍刀行》更新至38集">2021国产古装剧《雪中悍刀行》更新至38集</a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/WQPv5KBBBBBK.html" title="2018国产高分连载奇幻动漫《斗罗大陆》更新至190集"><font color="#FF0000">2018国产高分连载奇幻动漫《斗罗大陆》更新至190集</font></a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/Ygm4yA77777A.html" title="2021王一博古装剧《风起洛阳》更新至全39集">2021王一博古装剧《风起洛阳》更新至全39集</a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/JVzTu0QQQQQ0.html" title="2021甄子丹警匪动作《怒火·重案》BD1080p.国粤双语中字"><font color="#17AC56">2021甄子丹警匪动作《怒火·重案》BD1080p.国粤双语中字</font></a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/gu1MRo11111o.html" title="2021国产历史战争《长津湖》HD1080p.国语中字">2021国产历史战争《长津湖》HD1080p.国语中字</a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/zrIha8111118.html" title="2021国产反腐电视剧《突围/人民的财产》更新至45集">2021国产反腐电视剧《突围/人民的财产》更新至45集</a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/aZIJGFEEEEEF.html" title="2021TVB港剧《星空下的仁医》更新至全25集">2021TVB港剧《星空下的仁医》更新至全25集</a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/2y7bfh33333h.html" title="2021漫威动作科幻《毒液2》BD1080p.中英双字">2021漫威动作科幻《毒液2》BD1080p.中英双字</a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/1bsrHD33333D.html" title="2021国产奇幻连载动画《完美世界》更新至41集">2021国产奇幻连载动画《完美世界》更新至41集</a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/MwEUY8333338.html" title="2021悬疑犯罪剧《第十二秒》更新至全37集">2021悬疑犯罪剧《第十二秒》更新至全37集</a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/TsAf7U33333U.html" title="2021TVB港剧《飞虎3之壮志英雄》更新至全30集">2021TVB港剧《飞虎3之壮志英雄》更新至全30集</a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/IiC4cnIIIIIn.html" title="2020国产电视剧《斛珠夫人》更新至48集">2020国产电视剧《斛珠夫人》更新至48集</a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/r02CPgfffffg.html" title="2021赵丽颖悬疑电视剧《谁是凶手/未知罪》更新至全16集">2021赵丽颖悬疑电视剧《谁是凶手/未知罪》更新至全16集</a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/rEuLa7666667.html" title="2021国产电视剧《小敏家》更新至全45集">2021国产电视剧《小敏家》更新至全45集</a></li>
                    <li class="list-group-item"><a href="https://www.domp4.cc/html/5FZFq3222223.html" title="2021TVB港剧《拳王》更新至全25集">2021TVB港剧《拳王》更新至全25集</a></li>
                </ul>
            </div>
        </div>
        {% include 'footer.html.twig' %}
    </div>
    <script type="text/javascript">window.onerror = function () {
            return true;
        }
        var parms = '';
        var allurl = '';
        $('.sort-list ul li a').click(function (e) {
            var constr = '';
            var curobj = $(this);
            if (parms != undefined && parms != null) {
                var curdata = $(this).attr('data').split('-');
                parms[curdata[0]] = curdata[1];
                url = parseurl(parms);
                curobj.parent().siblings().children("a").removeClass('current');
                curobj.addClass('current');
                pagegooo(url);
                $('.sort-list ul li a').each(function (e) {
                    if ($(this).attr('class') == 'current') {
                        if ($(this).html() == '全部')
                            constr += ' ';
                        else
                            constr += '<em>' + $(this).html() + '</em>';
                    }
                });
                if (constr != '') {
                    $('.conbread').html(constr);
                }
            }
            return false;
        });


        function pagegooo(url) {
            $("#list_all").html('<div class="text-center" style="padding:15px;"><label class="layui-icon layui-icon-loading">努力加载中……</label></div>');
            $.get(url, function (r) {
                    parms = r['parms'];
                    $("html,body").animate({scrollTop: $("#list_all").offset().top - 350}, 500);
                    if (r['ajaxtxt'] == '') {
                        $("#list_all").html('<div class="text-center" style="padding:15px;">抱歉，没有找到相关内容！</div>');
                    } else {
                        $("#list_all").html(r['ajaxtxt']);
                        $('img.lazy').lazyload();
                    }

                    $(".pagination a").click(function (e) {
                        pagegooo($(this).attr('href'));
                        return false;
                    });
                }, 'json'
            );
            return true;
        }

        var ids = 0;
        parms = eval('({"id":' + ids + '})');

        var constrf = '';
        $('.sort-list ul li a').each(function (e) {
            if ($(this).html() != '全部' && $(this).attr('class') == 'current') {
                constrf += '<em>' + $(this).html() + '</em>';
            }
        });
        if (constrf != '') {
            $('.conbread').html(constrf);
        }
        $('.conreset').click(function (e) {
            parms = eval('({"id":' + ids + '})');
            url = parseurl(parms);
            pagegooo(url);
            $('.sort-list ul li a').each(function (e) {
                $(this).removeClass('current');
                if ($(this).html() == '全部') {
                    $(this).attr('class', 'current');
                    $('.conbread').html('');
                }
            });
            return false;
        });

        function parseurl(rr) {
            var url = '/list-index';
            for (var c in rr) {
                if (rr[c] != '0') {
                    url = url + "-" + c + "-" + rr[c];
                }
            }
            url = url + ".html";
            return url;
        }
    </script>
    </body>
{% endblock %}