{% extends 'base_dy.html.twig' %}
{% block body %}

<body data-new-gr-c-s-check-loaded="14.1042.0" data-gr-ext-installed="">
<div class="container">
    <div id="top" class="header">
        <div class="logo"><a href="http://www.hilaiya.com/"><img style="width:70px;hight:40px" src="./dy/logo1.jpeg"
                                                                 alt="MP4电影"></a></div>
        <div class="top_nav fright"><a href="https://www.domp4.cc/custom/update.html" style="color:red">今日更新</a>|
            <a rel="nofollow" href="https://www.domp4.cc/guestbook/1.html">留言</a>|
            <!--
            <a href="https://m.domp4.cc/?fulione.com">移动版</a>        --></div>
        <nav class="navbar navbar-inverse cclear">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"><span
                                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://www.domp4.cc/">MP4电影</a></div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="https://www.domp4.cc/list/99-1.html">最新电影</a></li>
                        <li><a href="https://www.domp4.cc/list/1-1.html">动作片</a></li>
                        <li><a href="https://www.domp4.cc/list/2-1.html">科幻片</a></li>
                        <li><a href="https://www.domp4.cc/list/3-1.html">爱情片</a></li>
                        <li><a href="https://www.domp4.cc/list/4-1.html">喜剧片</a></li>
                        <li><a href="https://www.domp4.cc/list/5-1.html">恐怖片</a></li>
                        <li><a href="https://www.domp4.cc/list/6-1.html">战争片</a></li>
                        <li><a href="https://www.domp4.cc/list/7-1.html">剧情片</a></li>
                        <li><a href="https://www.domp4.cc/list/8-1.html">纪录片</a></li>
                        <li><a href="https://www.domp4.cc/list/9-1.html">动画片</a></li>
                        <li><a href="https://www.domp4.cc/list/10-1.html">电视剧</a></li>
                        <li><a href="https://www.domp4.cc/slist/1.html">专题</a></li>
                        <li><a href="https://www.domp4.cc/sort.html">索引</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="search">
            <form class="navbar-form" action="https://www.domp4.cc/search/" method="post">
                <div class="form-group input-group"><input type="text" class="form-control" id="wd" name="wd"
                                                           placeholder="片名/主演/导演/标签">
                    <button type="submit" class="btn btn-default glyphicon glyphicon-search">搜索</button>
                </div>
            </form>
        </div>
        <div class="header_top"></div>
    </div>
    <div class="list_r cclear">
        <ul class="breadcrumb cclear">
            <li><a href="https://www.domp4.cc/">首页</a></li>
            <li class="active">动作片</li>
        </ul>
        <div id="list_all">
            <ul>
                <li><a href="https://www.domp4.cc/detail/7376.html"><img class="lazy"
                                                                         data-original="https://img.domp4.cc/vod/b/56617aeff0126.jpg"
                                                                         src="./最新动作片电影下载_热门动作片电影迅雷下载-MP4电影_files/56617aeff0126.jpg"
                                                                         alt="《武林外传电影版》" style="display: block;"><span
                                class="rate badge">6.4</span></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/7376.html">2011闫妮姚晨古装喜剧《武林外传电影版》BD1080p.国语中字</a>
                        </h2>
                        <p class="actor"><span><a rel="nofollow" target="_blank"
                                                  href="https://www.domp4.cc/search/%E5%A7%9C%E8%B6%85-1.html">姜超</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E9%97%AB%E5%A6%AE-1.html">闫妮</a></span> /
                            <span><a rel="nofollow" target="_blank"
                                     href="https://www.domp4.cc/search/%E8%82%96%E5%89%91-1.html">肖剑</a></span></p>
                        <p><span class="area">大陆</span><span class="update_time">2022-01-04</span></p>
                        <p class="info">电影版《武林外传》豆瓣小站：http://site.douban.com/112058 贼奸商图谋七侠镇，众伙计力保同福居。郭芙蓉（姚晨 饰…</p>
                    </div>
                </li>
                <li><a href="https://www.domp4.cc/detail/5187.html"><img class="lazy"
                                                                         data-original="https://img.domp4.cc/vod/9/55711dadbb627.jpg"
                                                                         src="./最新动作片电影下载_热门动作片电影迅雷下载-MP4电影_files/55711dadbb627.jpg"
                                                                         alt="《流星蝴蝶剑》" style="display: block;"><span
                                class="rate badge">7.7</span></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/5187.html"><font color="#17AC56">1976邵氏7.7分古装武侠《流星蝴蝶剑》BD1080p.国语中字</font></a>
                        </h2>
                        <p class="actor"><span><a rel="nofollow" target="_blank"
                                                  href="https://www.domp4.cc/search/%E5%87%8C%E4%BA%91-1.html">凌云</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E9%83%91%E5%BA%B7%E4%B8%9A-1.html">郑康业</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E5%AE%97%E5%8D%8E-1.html">宗华</a></span></p>
                        <p><span class="area">香港</span><span class="update_time">2022-01-03</span></p>
                        <p class="info">高老大（陈萍 饰）是神秘杀手组织“快活林”的当家，孟星魂（宗华 饰）和叶翔（凌云 饰）都是她一手栽培出来的刺客，…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/html/B8tr2C55555C.html"><img class="lazy"
                                                                               data-original="https://img.domp4.cc/vod/2/61d270a3e78d3.jpg"
                                                                               src="./最新动作片电影下载_热门动作片电影迅雷下载-MP4电影_files/61d270a3e78d3.jpg"
                                                                               alt="《功夫之王》"
                                                                               style="display: block;"><span
                                class="rate badge">5.7</span></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/html/B8tr2C55555C.html">2008成龙李连杰功夫武侠《功夫之王》BD1080p.国英双语中字</a>
                        </h2>
                        <p class="actor"><span><a rel="nofollow" target="_blank"
                                                  href="https://www.domp4.cc/search/%E9%82%B9%E5%85%86%E9%BE%99-1.html">邹兆龙</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E6%9D%8E%E5%86%B0%E5%86%B0-1.html">李冰冰</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E8%8E%AB%E6%A0%B9%C2%B7%E6%9C%AC%E8%AF%BA%E7%89%B9-1.html">莫根·本诺特</a></span>
                        </p>
                        <p><span class="area">美国</span><span class="update_time">2022-01-03</span></p>
                        <p class="info">杰森（Michael Angarano 饰）是一个疯狂迷恋港台功夫片的美国少年，然而现实中的他却饱受坏孩子的欺负，不敢反抗。偶…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/html/zR634U22222U.html"><img class="lazy"
                                                                               data-original="https://img.domp4.cc/vod/7/61d26d7f3b2af.jpg"
                                                                               src="./最新动作片电影下载_热门动作片电影迅雷下载-MP4电影_files/61d26d7f3b2af.jpg"
                                                                               alt="《少女杀手阿墨》"
                                                                               style="display: block;"><span
                                class="rate badge">6.5</span></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/html/zR634U22222U.html">2003日本暴力动作《少女杀手阿墨》BD1080p.中文字幕</a>
                        </h2>
                        <p class="actor"><span><a rel="nofollow" target="_blank"
                                                  href="https://www.domp4.cc/search/%E4%B8%8A%E6%88%B7%E5%BD%A9-1.html">上户彩</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E5%B0%8F%E6%A0%97%E6%97%AC-1.html">小栗旬</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E5%8E%9F%E7%94%B0%E8%8A%B3%E9%9B%84-1.html">原田芳雄</a></span>
                        </p>
                        <p><span class="area">日本</span><span class="update_time">2022-01-03</span></p>
                        <p class="info">日本战国时期，各地诸侯征伐不断，百姓妻离子散，苦不堪言。直到德川幕府建立，国内才稍事安定。然而仍有诸侯野心不死…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/detail/3407.html"><img class="lazy"
                                                                         data-original="https://img.domp4.cc/vod/d/55dd403adb703.jpg"
                                                                         src="./最新动作片电影下载_热门动作片电影迅雷下载-MP4电影_files/55dd403adb703.jpg"
                                                                         alt="《新少林寺》" style="display: block;"><span
                                class="rate badge">6.1</span></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/3407.html">2011刘德华谢霆锋动作剧情《新少林寺》BD1080p.国粤双语中字</a>
                        </h2>
                        <p class="actor"><span><a rel="nofollow" target="_blank"
                                                  href="https://www.domp4.cc/search/%E9%87%8A%E5%BD%A6%E8%83%BD-1.html">释彦能</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E7%99%BD%E5%86%B0-1.html">白冰</a></span> /
                            <span><a rel="nofollow" target="_blank"
                                     href="https://www.domp4.cc/search/%E8%8C%83%E5%86%B0%E5%86%B0-1.html">范冰冰</a></span>
                        </p>
                        <p><span class="area">大陆</span><span class="update_time">2022-01-02</span></p>
                        <p class="info">20世纪20年代，时局动荡，天下大乱，华夏大地无有一片宁静之所。时群雄并起，军阀混战。军阀少帅侯杰（刘德华 饰）纵…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/detail/6241.html"><img class="lazy"
                                                                         data-original="https://img.domp4.cc/vod/4/55f24823e267b.jpg"
                                                                         src="./最新动作片电影下载_热门动作片电影迅雷下载-MP4电影_files/blank.png"
                                                                         alt="《新仙鹤神针》"><span
                                class="rate badge">7.1</span></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/6241.html"><font color="#17AC56">1993经典古装武侠《新仙鹤神针》BD1080p.粤语中字</font></a>
                        </h2>
                        <p class="actor"><span><a rel="nofollow" target="_blank"
                                                  href="https://www.domp4.cc/search/%E6%A2%81%E6%9C%9D%E4%BC%9F-1.html">梁朝伟</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E6%A2%85%E8%89%B3%E8%8A%B3-1.html">梅艳芳</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E5%88%98%E6%B4%B5-1.html">刘洵</a></span></p>
                        <p><span class="area">香港</span><span class="update_time">2022-01-02</span></p>
                        <p class="info">六扇门主事曹雄（张铁林饰）召开武林大会欲统领江湖。各大门派赶赴大会，点苍派师徒一阳子（刘松仁饰）和徒弟马君武（…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/html/ySZVchDDDDDh.html"><img class="lazy"
                                                                               data-original="https://img.domp4.cc/vod/9/61cfe61486eed.jpg"
                                                                               src="./最新动作片电影下载_热门动作片电影迅雷下载-MP4电影_files/blank.png"
                                                                               alt="《有坂》"><span
                                class="rate badge">5.1</span></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/html/ySZVchDDDDDh.html">2021菲律宾犯罪动作《有坂》HD1080p.中文字幕</a>
                        </h2>
                        <p class="actor"><span><a rel="nofollow" target="_blank"
                                                  href="https://www.domp4.cc/search/%E7%8E%9B%E5%8A%A0%C2%B7%E8%90%A8%E5%B0%94%E7%93%A6%E5%A4%9A-1.html">玛加·萨尔瓦多</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E8%92%99%C2%B7%E5%BA%B7%E8%8F%B2%E5%A4%9A-1.html">蒙·康菲多</a></span>
                        </p>
                        <p><span class="area">菲律宾</span><span class="update_time">2022-01-01</span></p>
                        <p class="info">A witness under police escort is attacked. A policewoman, the only one who
                            survives, is sheltered by indigenou…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/html/qDMZOR11111R.html"><img class="lazy"
                                                                               data-original="https://img.domp4.cc/vod/d/61ce91200feb9.jpg"
                                                                               src="./最新动作片电影下载_热门动作片电影迅雷下载-MP4电影_files/blank.png"
                                                                               alt="《酒仙十八跌》"><span class="rate badge">5.6</span></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/html/qDMZOR11111R.html">1979香港武侠动作《酒仙十八跌》HD1080p.国粤双语中字</a>
                        </h2>
                        <p class="actor"><span><a rel="nofollow" target="_blank"
                                                  href="https://www.domp4.cc/search/%E9%BE%99%E9%A3%9E-1.html">龙飞</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E9%BE%99%E4%B8%96%E5%AE%B6-1.html">龙世家</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E8%A2%81%E5%B0%8F%E7%94%B0-1.html">袁小田</a></span>
                        </p>
                        <p><span class="area">香港</span><span class="update_time">2021-12-31</span></p>
                        <p class="info">影片讲述了两大醉拳宗师的故事。 苏化子，范大杯无以为生，专干偷鸡摸狗下三流勾当。一日，人偷採葡萄，被酒厂师父张…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/detail/23404.html"><img class="lazy"
                                                                          data-original="https://img.domp4.cc/vod/f/5d160471d1732.jpg"
                                                                          src="./最新动作片电影下载_热门动作片电影迅雷下载-MP4电影_files/blank.png"
                                                                          alt="《恶人传》"><span
                                class="rate badge">7.8</span></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/23404.html"><font color="#17AC56">2019罪案动作《恶人传》BD1080p.中文字幕</font></a>
                        </h2>
                        <p class="actor"><span><a rel="nofollow" target="_blank"
                                                  href="https://www.domp4.cc/search/%E9%A9%AC%E4%B8%9C%E9%94%A1-1.html">马东锡</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E5%88%98%E6%89%BF%E7%9D%A6-1.html">刘承睦</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E5%90%B4%E7%86%99%E4%BF%8A-1.html">吴熙俊</a></span>
                        </p>
                        <p><span class="area">韩国</span><span class="update_time">2021-12-31</span></p>
                        <p class="info">电影《恶人传》讲述的是偶然间成为连锁杀人魔的目标后复活的组织老板张东秀（马东锡 饰）和为了抓住法人而疯狂展开暴…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/detail/5072.html"><img class="lazy"
                                                                         data-original="https://img.domp4.cc/vod/8/55633fec4b900.jpg"
                                                                         src="./最新动作片电影下载_热门动作片电影迅雷下载-MP4电影_files/blank.png"
                                                                         alt="《拳精》"><span class="rate badge">6.6</span></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/5072.html">1978成龙武侠动作《拳精》BD1080p.国粤双语中字</a>
                        </h2>
                        <p class="actor"><span><a rel="nofollow" target="_blank"
                                                  href="https://www.domp4.cc/search/%E6%B1%9F%E5%BF%97%E5%B9%B3-1.html">江志平</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E7%9F%B3%E5%A4%A9-1.html">石天</a></span> /
                            <span><a rel="nofollow" target="_blank"
                                     href="https://www.domp4.cc/search/%E7%8E%8B%E5%85%89%E8%A3%95-1.html">王光裕</a></span>
                        </p>
                        <p><span class="area">香港</span><span class="update_time">2021-12-31</span></p>
                        <p class="info">少林弟子一郎（成龙 饰）生性胆大，调皮贪玩，是师傅门下的“问题弟子”。有传闻，寺中的藏经阁里有鬼魂出没，平日里…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/html/xQv84h00000h.html"><img class="lazy"
                                                                               data-original="https://img.domp4.cc/vod/b/61cd25ad2ccd5.jpg"
                                                                               src="./最新动作片电影下载_热门动作片电影迅雷下载-MP4电影_files/blank.png"
                                                                               alt="《新碧血剑》"><span
                                class="rate badge">6.9</span></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/html/xQv84h00000h.html">1993元彪古装武侠《新碧血剑》HD1080p.国语中字</a>
                        </h2>
                        <p class="actor"><span><a rel="nofollow" target="_blank"
                                                  href="https://www.domp4.cc/search/%E5%90%B4%E5%AD%9F%E8%BE%BE-1.html">吴孟达</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E5%8F%B6%E5%85%A8%E7%9C%9F-1.html">叶全真</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E6%9D%8E%E7%BE%8E%E5%87%A4-1.html">李美凤</a></span>
                        </p>
                        <p><span class="area">香港</span><span class="update_time">2021-12-30</span></p>
                        <p class="info">明朝末年奸臣当道，朝廷的忠义大将因受陷害被抄家，仅年幼的儿子袁承志（元彪 饰）逃出。十六年后，袁承志长大成人，…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/html/jeUayKEEEEEK.html"><img class="lazy"
                                                                               data-original="https://img.domp4.cc/vod/1/61cd24af62709.jpg"
                                                                               src="./最新动作片电影下载_热门动作片电影迅雷下载-MP4电影_files/blank.png"
                                                                               alt="《新精武门》"><span
                                class="rate badge">6.3</span></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/html/jeUayKEEEEEK.html">1976成龙功夫武侠《新精武门》BD1080p.国语中字</a>
                        </h2>
                        <p class="actor"><span><a rel="nofollow" target="_blank"
                                                  href="https://www.domp4.cc/search/%E9%99%88%E6%98%9F-1.html">陈星</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E6%88%90%E9%BE%99-1.html">成龙</a></span> /
                            <span><a rel="nofollow" target="_blank"
                                     href="https://www.domp4.cc/search/%E8%8B%97%E5%8F%AF%E7%A7%80-1.html">苗可秀</a></span>
                        </p>
                        <p><span class="area">香港</span><span class="update_time">2021-12-30</span></p>
                        <p class="info">剧情：陈真去世以后，精武门名存实亡，师妹小丽壮心不死，誓为师兄陈真报仇。遂欲投奔远在台湾的外公，但是遇到日本人…</p></div>
                </li>
            </ul>
            <div class="text-center">
                <ol class="pagination">
                    <li class="disabled"><span>首页</span></li>
                    <li class="disabled"><span>上一页</span></li>
                    <li class="active"><span>1</span></li>
                    <li><a class="active" href="https://www.domp4.cc/list/1-2.html">2</a></li>
                    <li><a class="active" href="https://www.domp4.cc/list/1-3.html">3</a></li>
                    <li><a href="https://www.domp4.cc/list/1-2.html">下一页</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="vod_right">
        <div class="top">
            <script src="./最新动作片电影下载_热门动作片电影迅雷下载-MP4电影_files/right.js"></script>
        </div>
        <div class="list-group cclear">
            <div class="cclear" id="heading-text">近期下载排行</div>
            <ul>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/ySZVchDDDDDh.html"
                                               title="2021菲律宾犯罪动作《有坂》HD1080p.中文字幕">2021菲律宾犯罪动作《有坂》HD1080p.中文字幕</a></li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/zR634U22222U.html"
                                               title="2003日本暴力动作《少女杀手阿墨》BD1080p.中文字幕">2003日本暴力动作《少女杀手阿墨》BD1080p.中文字幕</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/B8tr2C55555C.html"
                                               title="2008成龙李连杰功夫武侠《功夫之王》BD1080p.国英双语中字">2008成龙李连杰功夫武侠《功夫之王》BD1080p.国英双语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/6241.html"
                                               title="1993经典古装武侠《新仙鹤神针》BD1080p.粤语中字"><font color="#17AC56">1993经典古装武侠《新仙鹤神针》BD1080p.粤语中字</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/3407.html"
                                               title="2011刘德华谢霆锋动作剧情《新少林寺》BD1080p.国粤双语中字">2011刘德华谢霆锋动作剧情《新少林寺》BD1080p.国粤双语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/tmtO6gOOOOOg.html"
                                               title="2021美国科幻动作《新生化危机》HD1080p.中英双字">2021美国科幻动作《新生化危机》HD1080p.中英双字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/5187.html"
                                               title="1976邵氏7.7分古装武侠《流星蝴蝶剑》BD1080p.国语中字"><font color="#17AC56">1976邵氏7.7分古装武侠《流星蝴蝶剑》BD1080p.国语中字</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/23404.html"
                                               title="2019罪案动作《恶人传》BD1080p.中文字幕"><font color="#17AC56">2019罪案动作《恶人传》BD1080p.中文字幕</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/f7cASCAAAAAC.html"
                                               title="2021基努·里维斯科幻动作《黑客帝国：矩阵重启》HD1080p.中英双字">2021基努·里维斯科幻动作《黑客帝国：矩阵重启》HD1080p.中英双字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/qDMZOR11111R.html"
                                               title="1979香港武侠动作《酒仙十八跌》HD1080p.国粤双语中字">1979香港武侠动作《酒仙十八跌》HD1080p.国粤双语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/i2dKzH11111H.html"
                                               title="2015美国暴力动作《绝命杀漠》BD1080p.中文字幕">2015美国暴力动作《绝命杀漠》BD1080p.中文字幕</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/xQv84h00000h.html"
                                               title="1993元彪古装武侠《新碧血剑》HD1080p.国语中字">1993元彪古装武侠《新碧血剑》HD1080p.国语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/A8Y1CFDDDDDF.html"
                                               title="2021经典系列特工动作《007：无暇赴死》BD1080p.中英双字">2021经典系列特工动作《007：无暇赴死》BD1080p.中英双字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/NUgXrXSSSSSX.html"
                                               title="2021释彦能剧情动作《九龙城寨》HD1080p.国语中字">2021释彦能剧情动作《九龙城寨》HD1080p.国语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/zmQACPOOOOOP.html"
                                               title="2020美国科幻动作《沙丘》BD1080p.国英双语中字"><font color="#17AC56">2020美国科幻动作《沙丘》BD1080p.国英双语中字</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/MLqq1iWWWWWi.html"
                                               title="2021国产动作网大《生死速度》HD1080p.国语中字">2021国产动作网大《生死速度》HD1080p.国语中字</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer cclear"><p class="copyright">本网站内容收集于互联网，MP4电影不承担任何由于内容的合法性及健康性所引起的争议和法律责任。
            欢迎大家对网站内容侵犯版权等不合法和不健康行为进行监督和举报。<br> 邮箱: domp4#yahoo.com（替换#为@）<br>Copyright ©2020-2021 domp4. All rights
            reserved.
        </p></div>
    <script charset="utf-8" src="./dy/base.js"></script>
    <a class="backtotop hidden-sm hidden-xs btn btn-default" href="#top" data-toggle="tooltip"
       data-placement="top" data-original-title="返回顶部"><i class="glyphicon glyphicon-arrow-up"></i></a>
    <script src="./dy/search.js"></script>
    <script src="./dy/rich-tf.js" id="richid" data="s=3515"></script>
    <script src="./dy/beitou-tf.js" id="beitouid" data="s=3487"></script>
    <span style="display:none"><script src="./dy/pcount.js"></script><span
                id="cnzz_stat_icon_1254786789"></span><script src="./dy/stat.php"
                                                              type="text/javascript"></script></span></div>
{% endblock %}
