{% extends 'base_dy.html.twig' %}
{% block body %}

<body data-new-gr-c-s-check-loaded="14.1042.0" data-gr-ext-installed="">
<div class="container">
    <div id="top" class="header">
        <div class="logo"><a href="http://www.hilaiya.com/"><img style="width:70px;hight:40px" src="./dy/logo1.jpeg"
                                                                 alt="MP4电影"></a></div>
        <div class="top_nav fright"><a href="https://www.domp4.cc/custom/update.html" style="color:red">今日更新</a>|
            <a rel="nofollow" href="https://www.domp4.cc/guestbook/1.html">留言</a>|
            <!--
            <a href="https://m.domp4.cc/?fulione.com">移动版</a>        --></div>
        <nav class="navbar navbar-inverse cclear">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"><span
                                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://www.domp4.cc/">MP4电影</a></div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="https://www.domp4.cc/list/99-1.html">最新电影</a></li>
                        <li><a href="https://www.domp4.cc/list/1-1.html">动作片</a></li>
                        <li><a href="https://www.domp4.cc/list/2-1.html">科幻片</a></li>
                        <li><a href="https://www.domp4.cc/list/3-1.html">爱情片</a></li>
                        <li><a href="https://www.domp4.cc/list/4-1.html">喜剧片</a></li>
                        <li><a href="https://www.domp4.cc/list/5-1.html">恐怖片</a></li>
                        <li><a href="https://www.domp4.cc/list/6-1.html">战争片</a></li>
                        <li><a href="https://www.domp4.cc/list/7-1.html">剧情片</a></li>
                        <li><a href="https://www.domp4.cc/list/8-1.html">纪录片</a></li>
                        <li><a href="https://www.domp4.cc/list/9-1.html">动画片</a></li>
                        <li><a href="https://www.domp4.cc/list/10-1.html">电视剧</a></li>
                        <li><a href="https://www.domp4.cc/slist/1.html">专题</a></li>
                        <li><a href="https://www.domp4.cc/sort.html">索引</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="search">
            <form class="navbar-form" action="https://www.domp4.cc/search/" method="post">
                <div class="form-group input-group"><input type="text" class="form-control" id="wd" name="wd"
                                                           placeholder="片名/主演/导演/标签">
                    <button type="submit" class="btn btn-default glyphicon glyphicon-search">搜索</button>
                </div>
            </form>
        </div>
        <div class="header_top"></div>
    </div>
    <div class="article content cclear">
        <ul class="breadcrumb cclear">
            <li><a href="https://www.domp4.cc/">首页</a></li>
            <li><a href="https://www.domp4.cc/list/1-1.html">动作片</a></li>
            <li class="active">下载详情</li>
        </ul>
        <div class="article-header"><h1>2011闫妮姚晨古装喜剧《武林外传电影版》BD1080p.国语中字</h1>
            <hr>
            <div class="post-meta"> 类型：<span><a href="https://www.domp4.cc/list/1-1.html">动作片</a></span><em>|</em> 发布时间：<span
                        class="pubtime">2015-12-05 17:37:55</span><em>|</em>评分：<span class="rating_num"
                                                                                     subject="4822848"><a
                            target="_blank" rel="nofollow" href="https://movie.douban.com/subject/4822848/"
                            data-toggle="tooltip" data-placement="top"
                            data-original-title="到豆瓣网查看详情">6.4</a></span><em>|</em><span id="commentcount" data="">热评：<a
                            href="https://www.domp4.cc/detail/7376.html#douban">36条</a></span></div>
            <div class="pic"><img src="./2011闫妮姚晨古装喜剧《武林外传电影版》BD1080p.国语中字迅雷下载_免费高清电影下载_MP4电影_files/56617aeff0126.jpg"
                                  alt="武林外传电影版海报"></div>
            <div class="text"><p><em>名称：</em><span>武林外传电影版</span></p>
                <p><em>别名：</em><span>武林外传 / My Own Swordsman The Movie</span></p>
                <p class="actor"><em>主演：</em><span class="attrs"><span><a rel="nofollow" target="_blank"
                                                                          href="https://www.domp4.cc/search/%E5%A7%9C%E8%B6%85-1.html">姜超</a> / </span><span><a
                                    rel="nofollow" target="_blank"
                                    href="https://www.domp4.cc/search/%E9%97%AB%E5%A6%AE-1.html">闫妮</a> / </span><span><a
                                    rel="nofollow" target="_blank"
                                    href="https://www.domp4.cc/search/%E8%82%96%E5%89%91-1.html">肖剑</a> / </span><span><a
                                    rel="nofollow" target="_blank"
                                    href="https://www.domp4.cc/search/%E7%8E%8B%E7%A3%8A-1.html">王磊</a> / </span><span><a
                                    rel="nofollow" target="_blank"
                                    href="https://www.domp4.cc/search/%E5%8D%88%E9%A9%AC-1.html">午马</a> / </span><span
                                style="display: none;"><a rel="nofollow" target="_blank"
                                                          href="https://www.domp4.cc/search/%E6%B2%99%E6%BA%A2-1.html">沙溢</a> / </span><span
                                style="display: none;"><a rel="nofollow" target="_blank"
                                                          href="https://www.domp4.cc/search/%E5%80%AA%E8%99%B9%E6%B4%81-1.html">倪虹洁</a> / </span><span
                                style="display: none;"><a rel="nofollow" target="_blank"
                                                          href="https://www.domp4.cc/search/%E5%A7%9A%E6%99%A8-1.html">姚晨</a> / </span><span
                                style="display: none;"><a rel="nofollow" target="_blank"
                                                          href="https://www.domp4.cc/search/%E5%B2%B3%E8%B7%83%E5%88%A9-1.html">岳跃利</a> / </span><span
                                style="display: none;"><a rel="nofollow" target="_blank"
                                                          href="https://www.domp4.cc/search/%E5%96%BB%E6%81%A9%E6%B3%B0-1.html">喻恩泰</a></span><a
                                href="javascript:;" class="more" title="更多主演">更多...</a></span></p>
                <p class="director"><em>导演：</em><span class="attrs"><span><a rel="nofollow" target="_blank"
                                                                             href="https://www.domp4.cc/search/%E5%B0%9A%E6%95%AC-1.html">尚敬</a></span></span>
                </p>
                <p><em>地区：</em><span>大陆</span></p>
                <p><em>年份：</em><span>2011</span></p>
                <p><em>语言：</em><span>国语</span></p>
                <p><em>时长：</em><span>92分钟</span></p>
                <p><em>更新：</em><span class="update_time">2022-01-04 10:26:26</span></p>
                <p class="tag"><em>标签：</em><a href="https://www.domp4.cc/tag/%E5%96%9C%E5%89%A7-1.html">喜剧</a>&nbsp;<a
                            href="https://www.domp4.cc/tag/%E6%90%9E%E7%AC%91-1.html">搞笑</a>&nbsp;<a
                            href="https://www.domp4.cc/tag/%E4%B8%AD%E5%9B%BD%E7%94%B5%E5%BD%B1-1.html">中国电影</a>&nbsp;<a
                            href="https://www.domp4.cc/tag/%E5%A4%A7%E9%99%86-1.html">大陆</a>&nbsp;<a
                            href="https://www.domp4.cc/tag/%E4%B8%AD%E5%9B%BD-1.html">中国</a>&nbsp;<a
                            href="https://www.domp4.cc/tag/2011-1.html">2011</a>&nbsp;<a
                            href="https://www.domp4.cc/tag/%E7%94%B5%E5%BD%B1-1.html">电影</a>&nbsp;</p></div>
        </div>
        <div class="down-banner">
            <script src="./2011闫妮姚晨古装喜剧《武林外传电影版》BD1080p.国语中字迅雷下载_免费高清电影下载_MP4电影_files/banner2.js"></script>
        </div>
        <div class="article-related info"><h2>武林外传电影版剧情介绍</h2>
            <p>电影版《武林外传》豆瓣小站：http://site.douban.com/112058 贼奸商图谋七侠镇，众伙计力保同福居。郭芙蓉（姚晨 饰）脾气再度发作，怒打客人令佟湘玉（闫妮
                饰）出钱赔礼、感叹生意难做。被打客人乃是六品户部京官裴志诚（岳跃利
                饰），他此来七侠镇有着不可告人的目的。为防止裴志诚再惹麻烦，同福众人将其看押，裴志诚在杀手姬无力帮助下始得脱身，开始实施七侠镇河西改造计划，大肆收购河西土地，对于部分拒售户主，由姬无力出面行凶搞定。裴志诚当众宣布西河大开发，引发房价疯涨，白展堂（沙溢
                饰）、吕秀才（喻恩泰 饰）顿感男人的压力。无双（倪虹洁 饰）与小六调查镇上的凶杀案，反被裴志诚先发制人，险些性命不保。炒地幕后大老板潘公公令姬无力清除裴志诚，迫使后者与同福众人合作，揭发炒地内幕……</p>
        </div>
        <script type="text/javascript">eval(function (p, a, c, k, e, d) {
                e = function (c) {
                    return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36))
                };
                if (!''.replace(/^/, String)) {
                    while (c--) {
                        d[e(c)] = k[c] || e(c)
                    }
                    k = [function (e) {
                        return d[e]
                    }];
                    e = function () {
                        return '\\w+'
                    };
                    c = 1
                }
                ;
                while (c--) {
                    if (k[c]) {
                        p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c])
                    }
                }
                return p
            }('p t=\'{\\"q\\":[\\"\\\\5\\\\7\\\\4\\\\3\\\\0\\\\2\\\\6\\",\\"\\\\r\\\\s\\\\n\\",\\"\\\\/m\\\\/1-1.i\\",\\"1\\"],\\"h\\":[{\\"j\\":[\\"\\\\5\\\\7\\\\4\\\\3\\\\0\\\\2\\\\6.c.e.\\\\d\\\\b\\\\a\\\\8.9$k:?l=o:E:G&C=[D.f.g]\\\\5\\\\7\\\\4\\\\3\\\\0\\\\2\\\\6.c.e.\\\\d\\\\b\\\\a\\\\8.9\\",\\"\\\\5\\\\7\\\\4\\\\3\\\\0\\\\2\\\\6.c.e.\\\\d\\\\b\\\\a\\\\8.9$F:\\\\/\\\\/|B|\\\\A\\\\u\\\\v\\\\0\\\\x.f.g\\\\y\\\\5\\\\7\\\\4\\\\3\\\\0\\\\2\\\\6.c.e.\\\\d\\\\b\\\\a\\\\8.9|z|w|\\\\/\\"]}]}\';', 43, 43, 'u7535||u5f71|u4f20|u5916|u6b66|u7248|u6797|u5b57|mp4|u4e2d|u8bed|2011|u56fd|BD1080p|domp4|cc|Data|html|downurls|magnet|xt|list|u7247|urn|var|Vod|u52a8|u4f5c|down_urls|u9ad8|u6e05MP4|0a443349dcf458ea9a8c2f706b28d87b|u5f71www|u3011|2803879475|u3010|file|dn|www|btih|ed2k|9334c3d743786bcb85a4cf20c457fabf758927c9'.split('|'), 0, {}))
        </script>
        <div id="download1" class="article-related download_url"><h2>武林外传电影版下载地址一</h2>
            <ul class="panel down-list thunder1">
                <li>
                    <div class="url-left"><input type="checkbox" style="float:left;margin-right:8px" name="copy_sel"
                                                 value="magnet:?xt=urn:btih:9334c3d743786bcb85a4cf20c457fabf758927c9&amp;dn=[www.domp4.cc]武林外传电影版.2011.BD1080p.国语中字.mp4&amp;tr=https://tracker.iriseden.fr:443/announce&amp;tr=https://tr.highstar.shop:443/announce&amp;tr=https://tr.fuckbitcoin.xyz:443/announce&amp;tr=https://tr.doogh.club:443/announce&amp;tr=https://tr.burnabyhighstar.com:443/announce&amp;tr=https://t.btcland.xyz:443/announce&amp;tr=http://vps02.net.orel.ru:80/announce&amp;tr=https://tracker.kuroy.me:443/announce&amp;tr=http://tr.cili001.com:8070/announce&amp;tr=http://t.overflow.biz:6969/announce&amp;tr=http://t.nyaatracker.com:80/announce&amp;tr=http://open.acgnxtracker.com:80/announce&amp;tr=http://nyaa.tracker.wf:7777/announce&amp;tr=http://home.yxgz.vip:6969/announce&amp;tr=http://buny.uk:6969/announce&amp;tr=https://tracker.tamersunion.org:443/announce&amp;tr=https://tracker.nanoha.org:443/announce&amp;tr=https://tracker.loligirl.cn:443/announce&amp;tr=udp://bubu.mapfactor.com:6969/announce&amp;tr=http://share.camoe.cn:8080/announce&amp;tr=udp://movies.zsw.ca:6969/announce&amp;tr=udp://ipv4.tracker.harry.lu:80/announce&amp;tr=udp://tracker.sylphix.com:6969/announce&amp;tr=http://95.216.22.207:9001/announce"><a
                                href="magnet:?xt=urn:btih:9334c3d743786bcb85a4cf20c457fabf758927c9&amp;dn=[www.domp4.cc]%E6%AD%A6%E6%9E%97%E5%A4%96%E4%BC%A0%E7%94%B5%E5%BD%B1%E7%89%88.2011.BD1080p.%E5%9B%BD%E8%AF%AD%E4%B8%AD%E5%AD%97.mp4&amp;tr=https://tracker.iriseden.fr:443/announce&amp;tr=https://tr.highstar.shop:443/announce&amp;tr=https://tr.fuckbitcoin.xyz:443/announce&amp;tr=https://tr.doogh.club:443/announce&amp;tr=https://tr.burnabyhighstar.com:443/announce&amp;tr=https://t.btcland.xyz:443/announce&amp;tr=http://vps02.net.orel.ru:80/announce&amp;tr=https://tracker.kuroy.me:443/announce&amp;tr=http://tr.cili001.com:8070/announce&amp;tr=http://t.overflow.biz:6969/announce&amp;tr=http://t.nyaatracker.com:80/announce&amp;tr=http://open.acgnxtracker.com:80/announce&amp;tr=http://nyaa.tracker.wf:7777/announce&amp;tr=http://home.yxgz.vip:6969/announce&amp;tr=http://buny.uk:6969/announce&amp;tr=https://tracker.tamersunion.org:443/announce&amp;tr=https://tracker.nanoha.org:443/announce&amp;tr=https://tracker.loligirl.cn:443/announce&amp;tr=udp://bubu.mapfactor.com:6969/announce&amp;tr=http://share.camoe.cn:8080/announce&amp;tr=udp://movies.zsw.ca:6969/announce&amp;tr=udp://ipv4.tracker.harry.lu:80/announce&amp;tr=udp://tracker.sylphix.com:6969/announce&amp;tr=http://95.216.22.207:9001/announce"
                                title="武林外传电影版.2011.BD1080p.国语中字.mp4" target="_blank"><span>磁力链</span>武林外传电影版.2011.BD1080p.国语中字.mp4</a>
                    </div>
                    <div class="label-right"><a class="label label-info copybtn" data-toggle="collapse"
                                                data-parent="#download1" data-target="#texturl_1_0"
                                                data-clipboard-text="magnet:?xt=urn:btih:9334c3d743786bcb85a4cf20c457fabf758927c9&amp;dn=[www.domp4.cc]武林外传电影版.2011.BD1080p.国语中字.mp4&amp;tr=https://tracker.iriseden.fr:443/announce&amp;tr=https://tr.highstar.shop:443/announce&amp;tr=https://tr.fuckbitcoin.xyz:443/announce&amp;tr=https://tr.doogh.club:443/announce&amp;tr=https://tr.burnabyhighstar.com:443/announce&amp;tr=https://t.btcland.xyz:443/announce&amp;tr=http://vps02.net.orel.ru:80/announce&amp;tr=https://tracker.kuroy.me:443/announce&amp;tr=http://tr.cili001.com:8070/announce&amp;tr=http://t.overflow.biz:6969/announce&amp;tr=http://t.nyaatracker.com:80/announce&amp;tr=http://open.acgnxtracker.com:80/announce&amp;tr=http://nyaa.tracker.wf:7777/announce&amp;tr=http://home.yxgz.vip:6969/announce&amp;tr=http://buny.uk:6969/announce&amp;tr=https://tracker.tamersunion.org:443/announce&amp;tr=https://tracker.nanoha.org:443/announce&amp;tr=https://tracker.loligirl.cn:443/announce&amp;tr=udp://bubu.mapfactor.com:6969/announce&amp;tr=http://share.camoe.cn:8080/announce&amp;tr=udp://movies.zsw.ca:6969/announce&amp;tr=udp://ipv4.tracker.harry.lu:80/announce&amp;tr=udp://tracker.sylphix.com:6969/announce&amp;tr=http://95.216.22.207:9001/announce">复制地址</a>
                    </div>
                </li>
                <div id="texturl_1_0" class="collapse"><textarea autoheight="true" onclick="dselect(this)"
                                                                 style="height: auto;">magnet:?xt=urn:btih:9334c3d743786bcb85a4cf20c457fabf758927c9&amp;dn=[www.domp4.cc]武林外传电影版.2011.BD1080p.国语中字.mp4&amp;tr=https://tracker.iriseden.fr:443/announce&amp;tr=https://tr.highstar.shop:443/announce&amp;tr=https://tr.fuckbitcoin.xyz:443/announce&amp;tr=https://tr.doogh.club:443/announce&amp;tr=https://tr.burnabyhighstar.com:443/announce&amp;tr=https://t.btcland.xyz:443/announce&amp;tr=http://vps02.net.orel.ru:80/announce&amp;tr=https://tracker.kuroy.me:443/announce&amp;tr=http://tr.cili001.com:8070/announce&amp;tr=http://t.overflow.biz:6969/announce&amp;tr=http://t.nyaatracker.com:80/announce&amp;tr=http://open.acgnxtracker.com:80/announce&amp;tr=http://nyaa.tracker.wf:7777/announce&amp;tr=http://home.yxgz.vip:6969/announce&amp;tr=http://buny.uk:6969/announce&amp;tr=https://tracker.tamersunion.org:443/announce&amp;tr=https://tracker.nanoha.org:443/announce&amp;tr=https://tracker.loligirl.cn:443/announce&amp;tr=udp://bubu.mapfactor.com:6969/announce&amp;tr=http://share.camoe.cn:8080/announce&amp;tr=udp://movies.zsw.ca:6969/announce&amp;tr=udp://ipv4.tracker.harry.lu:80/announce&amp;tr=udp://tracker.sylphix.com:6969/announce&amp;tr=http://95.216.22.207:9001/announce</textarea>
                </div>
                <li>
                    <div class="url-left"><input type="checkbox" style="float:left;margin-right:8px" name="copy_sel"
                                                 value="ed2k://|file|【高清MP4电影www.domp4.cc】武林外传电影版.2011.BD1080p.国语中字.mp4|2803879475|0a443349dcf458ea9a8c2f706b28d87b|/"><a
                                href="ed2k://|file|%E3%80%90%E9%AB%98%E6%B8%85MP4%E7%94%B5%E5%BD%B1www.domp4.cc%E3%80%91%E6%AD%A6%E6%9E%97%E5%A4%96%E4%BC%A0%E7%94%B5%E5%BD%B1%E7%89%88.2011.BD1080p.%E5%9B%BD%E8%AF%AD%E4%B8%AD%E5%AD%97.mp4|2803879475|0a443349dcf458ea9a8c2f706b28d87b|/"
                                title="武林外传电影版.2011.BD1080p.国语中字.mp4" target="_blank"><span>电驴</span>武林外传电影版.2011.BD1080p.国语中字.mp4</a><em>(2.61GB)</em>
                    </div>
                    <div class="label-right"><a class="label label-info copybtn" data-toggle="collapse"
                                                data-parent="#download1" data-target="#texturl_1_1"
                                                data-clipboard-text="ed2k://|file|【高清MP4电影www.domp4.cc】武林外传电影版.2011.BD1080p.国语中字.mp4|2803879475|0a443349dcf458ea9a8c2f706b28d87b|/">复制地址</a>
                    </div>
                </li>
                <div class="text-right divselect1" style="margin:10px 5px;float:right;"><a
                            class="btn btn-default copybtn copyselectall1" data-toggle="collapse"
                            data-parent="#download1"
                            data-target="#"
                            data-clipboard-text="magnet:?xt=urn:btih:9334c3d743786bcb85a4cf20c457fabf758927c9&amp;dn=[www.domp4.cc]武林外传电影版.2011.BD1080p.国语中字.mp4&amp;tr=https://tracker.iriseden.fr:443/announce&amp;tr=https://tr.highstar.shop:443/announce&amp;tr=https://tr.fuckbitcoin.xyz:443/announce&amp;tr=https://tr.doogh.club:443/announce&amp;tr=https://tr.burnabyhighstar.com:443/announce&amp;tr=https://t.btcland.xyz:443/announce&amp;tr=http://vps02.net.orel.ru:80/announce&amp;tr=https://tracker.kuroy.me:443/announce&amp;tr=http://tr.cili001.com:8070/announce&amp;tr=http://t.overflow.biz:6969/announce&amp;tr=http://t.nyaatracker.com:80/announce&amp;tr=http://open.acgnxtracker.com:80/announce&amp;tr=http://nyaa.tracker.wf:7777/announce&amp;tr=http://home.yxgz.vip:6969/announce&amp;tr=http://buny.uk:6969/announce&amp;tr=https://tracker.tamersunion.org:443/announce&amp;tr=https://tracker.nanoha.org:443/announce&amp;tr=https://tracker.loligirl.cn:443/announce&amp;tr=udp://bubu.mapfactor.com:6969/announce&amp;tr=http://share.camoe.cn:8080/announce&amp;tr=udp://movies.zsw.ca:6969/announce&amp;tr=udp://ipv4.tracker.harry.lu:80/announce&amp;tr=udp://tracker.sylphix.com:6969/announce&amp;tr=http://95.216.22.207:9001/announce

ed2k://|file|【高清MP4电影www.domp4.cc】武林外传电影版.2011.BD1080p.国语中字.mp4|2803879475|0a443349dcf458ea9a8c2f706b28d87b|/
" aria-expanded="true">复制全部地址</a></div>
                <div class="text-right divselect1" style="margin:10px 0;"><a class="btn btn-default copybtn copyselect1"
                                                                             data-toggle="collapse"
                                                                             data-parent="#download1" data-target="#"
                                                                             data-clipboard-text=""
                                                                             aria-expanded="true">复制选中行地址</a></div>
                <div id="texturl_1_1" class="collapse"><textarea autoheight="true" onclick="dselect(this)"
                                                                 style="height: auto;">ed2k://|file|【高清MP4电影www.domp4.cc】武林外传电影版.2011.BD1080p.国语中字.mp4|2803879475|0a443349dcf458ea9a8c2f706b28d87b|/</textarea>
                </div>
            </ul>
        </div>
        <div class="down-banner">
            <script src="./2011闫妮姚晨古装喜剧《武林外传电影版》BD1080p.国语中字迅雷下载_免费高清电影下载_MP4电影_files/banner.js"></script>
        </div>
        <div class="article-related download_help"><h2>武林外传电影版下载帮助</h2>
            <ul class="item">
                <li style="color:red">0.推荐使用bt软件下载新资源磁力链。不保证电驴地址可正常下载。</li>
                <li>1.如使用迅雷下载提示‘任务错误，未知错误，敏感资源，违规内容，版权‘等等，可留言报错</li>
                <li>2.出现以上情况与本站无关，因迅雷官方响应政策屏蔽资源导致。</li>
                <li>4.如遇到老片迅雷下载速度过慢，可试着复制ed2k电驴地址或磁力链到迅雷网盘或百度网盘离线中下载，也可以试试迅雷会员速度加成。</li>
                <li>5.如某片全部地址都无法下载，建议您到留言中心告知。</li>
            </ul>
        </div>
        <div id="post_next_prev">
            <div class="prev"><label>上一部：</label><a href="https://www.domp4.cc/detail/7343.html"
                                                    title="1995惊悚犯罪《绝地战警》BD1080P高清.国英双语.中英字幕.无水印版">1995惊悚犯罪《绝地战警》BD1080P高清.国英双语.中英字幕.无水印版</a>
            </div>
            <div class="next"><label>下一部：</label><a href="https://www.domp4.cc/detail/7386.html" title="贝尔格莱德的幽灵">贝尔格莱德的幽灵</a>
            </div>
        </div>
        <div id="douban_comment" class="article-related douban_comment"><h2>武林外传电影版豆瓣热评</h2>
            <ul id="douban">
                <li><h4><span class="actor">隽永</span><span class="time">2011-01-17 01:04:33</span></h4>
                    <p>违睽五年的武林外传，带着欢笑与温馨回归。今年必看的贺岁大片，咧开嘴，甩开生活的不愉快，大伙一块入驻同福客栈吧！
                        ps：电视剧转变成电影，包装方面肯定会有不同，这些年全世界都在变，但武林外传不管变成啥样，初衷还是博君一笑，敢问哪位观看时没听到阵阵笑声？所以有些童鞋别太较真啦</p></li>
                <li><h4><span class="actor">nightpanda</span><span class="time">2010-12-31 18:13:27</span></h4>
                    <p>不是我没打星儿，是我给的0星儿</p></li>
                <li><h4><span class="actor">Ri-Mei</span><span class="time">2011-01-12 23:43:23</span></h4>
                    <p>花里胡哨，还是偏爱电视剧版的简单质朴</p></li>
                <li><h4><span class="actor">苏莫</span><span class="time">2011-01-26 13:02:09</span></h4>
                    <p>这分数高得令我自惭形秽，我怎么觉得这片很悲催啊？</p></li>
                <li><h4><span class="actor">不辣的小花</span><span class="time">2011-01-26 09:23:52</span></h4>
                    <p>看起来没什么大笑也没有怎么失望，也不是低俗，反正看了不疼不痒的，也挺好的</p></li>
                <li><h4><span class="actor">花落  思量错</span><span class="time">2017-03-11 12:41:22</span></h4>
                    <p>小时候很爱看，每天都等着看，有些东西是现在没办法比拟的，尤其是闫妮太出彩了。</p></li>
                <li><h4><span class="actor">达到厂</span><span class="time">2011-01-26 14:06:50</span></h4>
                    <p>武林外传没预想的好，和电视剧一样，身后好多人从头笑到尾，不理解他们</p></li>
                <li><h4><span class="actor">马什么梅？</span><span class="time">2011-01-20 00:50:02</span></h4>
                    <p>
                        去看首映，不幸坐在第一排，视效很受影响。作为老腐竹，对此片期待很高，整体感觉笑料虽然足，但包袱抖得不够力量。特效神马的挺过瘾，动画搭配的也恰到好处，虽然各位的演技都没有任何增长，但还是怎么看怎么欢喜，为原班底+1星。PS：打算再去看一次，这次要坐在中间。</p>
                </li>
                <li><h4><span class="actor">皮革业</span><span class="time">2011-01-26 14:00:18</span></h4>
                    <p>还成吧 不知道什么时候电影成了泄愤的出口 我觉着拍成这样不容易 也许是头天被某局领导给洗脑啦</p></li>
                <li><h4><span class="actor">梦梦梦梦</span><span class="time">2017-03-01 20:19:20</span></h4>
                    <p>再拍，也不是当年的感觉，过去了的感觉找不到了。</p></li>
                <li style="display: none;"><h4><span class="actor">Ｈ·今天·你·Ｈ·了沒？</span><span class="time">2011-02-10 01:18:56</span>
                    </h4>
                    <p>武林外传电影版 / My Own Swordsman The Movie</p></li>
                <li style="display: none;"><h4><span class="actor">小十三</span><span
                                class="time">2018-05-10 21:57:34</span></h4>
                    <p>依旧搞笑好玩，我没把它当成电影来看，只是我心里的七侠镇罢了，看看他们，依旧过的很好</p></li>
                <li style="display: none;"><h4><span class="actor">蕾蕾</span><span
                                class="time">2011-02-15 01:58:38</span></h4>
                    <p>当然要支持一下中国最毙的喜剧啦，不过佟湘玉应该多用俯拍的，摄影差，</p></li>
                <li style="display: none;"><h4><span class="actor">多看电影爱电影</span><span
                                class="time">2017-02-19 09:13:08</span></h4>
                    <p>电视剧是个永恒的经典，但是电影就不行了，简直就是个狗尾续貂！</p></li>
                <li style="display: none;"><h4><span class="actor">人気小圆头</span><span
                                class="time">2011-01-04 22:08:24</span></h4>
                    <p>如果有来生，你愿不愿意还做我的小三。——《武林外传》电影版</p></li>
                <li style="display: none;"><h4><span class="actor">雪里花蕾</span><span
                                class="time">2018-05-14 19:18:18</span></h4>
                    <p>电影的画面要比电视做的精致，影片的画质也比较有感触，从镜头剪辑上还是能看出电影的诚意，但是还是喜欢看电视版的</p></li>
                <li style="display: none;"><h4><span class="actor">荔枝超人</span><span
                                class="time">2011-01-20 14:41:42</span></h4>
                    <p>连我这种没看过电视版的都能笑，这电影版算是能对得起这电视剧的高人气了。</p></li>
                <li style="display: none;"><h4><span class="actor">王婆速配</span><span
                                class="time">2011-01-26 18:18:27</span></h4>
                    <p>看到很多一般的评价，也许是我out，还是觉得同福客栈很赞，直到最后音乐响起，仍然意犹未尽，笑中有泪，对我这样的老男孩已经足够，和你们生活在一个朝代，是杯具还是洗具？</p></li>
                <li style="display: none;"><h4><span class="actor">shizao</span><span
                                class="time">2011-01-28 11:45:59</span></h4>
                    <p>只能给一颗星，电影不是谁想拍就拍，恶心</p></li>
                <li style="display: none;"><h4><span class="actor">館長；</span><span
                                class="time">2011-01-26 21:03:27</span></h4>
                    <p>不知道熊吉为啥要求那么高，说中间走神好几次，可这不就像老友见面嘛，你期待的是看见他依然这么讨人喜欢，而不是这次碰面就突然优秀得让你交口称赞</p></li>
                <li style="display: none;"><h4><span class="actor">江湖骗孑</span><span
                                class="time">2018-05-14 19:25:46</span></h4>
                    <p>电影局限性太多，毕竟篇幅有限，但还是不错的！</p></li>
                <li style="display: none;"><h4><span class="actor">影志</span><span
                                class="time">2011-01-28 22:27:49</span></h4>
                    <p>打开电视看电影，算是赚到了；坐进影院看电视剧，那就亏大了。其中一星给电视剧版的怀旧分。</p></li>
                <li style="display: none;"><h4><span class="actor">亵渎电影</span><span
                                class="time">2011-02-04 16:42:15</span></h4>
                    <p>有电视剧就够了，电影拍成这样太没劲了。★★</p></li>
                <li style="display: none;"><h4><span class="actor">littletwo</span><span class="time">2011-01-26 21:19:48</span>
                    </h4>
                    <p>无聊，看不下去。不仅不好笑还有点恐怖</p></li>
                <li style="display: none;"><h4><span class="actor">桃桃林林</span><span
                                class="time">2011-02-04 12:18:08</span></h4>
                    <p>对于剧集的粉丝来说，这是一部关于回忆的电影，他们能说出一千个理由，因为这是一种情结。如果连剧集也没什么兴趣的话，还是放弃吧</p></li>
                <li style="display: none;"><h4><span class="actor">蓝下老婆</span><span
                                class="time">2017-03-11 13:19:07</span></h4>
                    <p>不懂这部剧的笑点，它的幽默我不懂，一群人像鬼打架，剧里有背景音乐吗，这部剧倒是捧红了好些人</p></li>
                <li style="display: none;"><h4><span class="actor">弗朗索瓦张。</span><span
                                class="time">2011-01-28 00:59:42</span></h4>
                    <p>
                        从来不看喜剧的我，再次证明除了让子弹飞之外没有喜剧能让我笑出来。是我的问题还是宁财神的问题？尚敬导演从电视剧到电影也下了一定功夫了。三星鼓励鼓励。PS:”传奇“那段导演自己都不知道自己到底是要搞笑还是要煽情了，莫名其妙。</p>
                </li>
                <li style="display: none;"><h4><span class="actor">RenoMua</span><span
                                class="time">2011-01-27 09:57:47</span></h4>
                    <p>
                        片子不错，一半也是感情分，想到五年前。什么都值得了。候着上映，笑到最后，虽然有些笑点不是特别有力，但我愿意傻乐傻乐地看完。武林外传已经完全是一种感情，像另一半，无论外面多么花街柳巷时过境迁，回来还能看到它，就是一种幸福了。</p>
                </li>
                <li style="display: none;"><h4><span class="actor">幸运遇见你</span><span
                                class="time">2017-03-11 10:52:41</span></h4>
                    <p>过去的东西好像怎么也模仿不出来一样</p></li>
                <li style="display: none;"><h4><span class="actor">王大飘</span><span
                                class="time">2011-01-28 21:39:23</span></h4>
                    <p>宁财神的包袱总是让人笑不出来，果断二星</p></li>
                <li style="display: none;"><h4><span class="actor">待城</span><span
                                class="time">2017-03-30 20:29:35</span></h4>
                    <p>童年的回忆啊 还是可以的电影啦 永远的同福客栈</p></li>
                <li style="display: none;"><h4><span class="actor">法拉佛Falafel</span><span class="time">2011-01-26 17:10:54</span>
                    </h4>
                    <p>打五星的是托儿么？明显没电视剧好看么</p></li>
                <li style="display: none;"><h4><span class="actor">呆萌小七</span><span
                                class="time">2018-05-14 23:39:29</span></h4>
                    <p>很喜欢闫妮，陕西话一出来，倍感亲切</p></li>
                <li style="display: none;"><h4><span class="actor">Q。</span><span
                                class="time">2011-02-07 15:18:07</span></h4>
                    <p>
                        电视剧没认真看过几集，谈不上喜欢谈不上厌恶。但依靠电视剧积累了那么多关注，铺垫那么多，换来如此一场东拼西凑的闹剧，就连笑点如此之低的我也感觉不到丝毫可笑之处。电影真不是靠着一些网络、论坛、新闻里的段子搜集而来就能拍出来坑钱的。★☆</p>
                </li>
                <li style="display: none;"><h4><span class="actor">子之于归</span><span
                                class="time">2011-01-27 22:01:39</span></h4>
                    <p>为什么有8.6分啊 我觉得我一直在挑战国产片坑爹的下限 可我发现这个真的无下限啊


                        ps：我的笑点是有多低啊 整个电影院都静悄悄的 就我一个人笑 问题是我没觉得它可笑啊</p></li>
                <li style="display: none;"><h4><span class="actor">元子</span><span
                                class="time">2011-01-26 22:48:33</span></h4>
                    <p>评分8.6？没搞错吧。。。我怎么觉得那么不好看。给2星纯粹是因为之前电视剧和那些演员的情谊</p></li>
                <div class="text-center" style="padding:15px;"><a href="javascript:;"
                                                                  class="layui-icon layui-icon-reply-fill" title="更多评论">展开剩余26条评论</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="vod_right">
        <div class="top">
            <script src="./2011闫妮姚晨古装喜剧《武林外传电影版》BD1080p.国语中字迅雷下载_免费高清电影下载_MP4电影_files/right.js"></script>
        </div>
        <div class="list-group cclear">
            <div class="cclear" id="heading-text">猜你喜欢</div>
            <ul>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/ySZVchDDDDDh.html"
                                               title="2021菲律宾犯罪动作《有坂》HD1080p.中文字幕">2021菲律宾犯罪动作《有坂》HD1080p.中文字幕</a></li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/zR634U22222U.html"
                                               title="2003日本暴力动作《少女杀手阿墨》BD1080p.中文字幕">2003日本暴力动作《少女杀手阿墨》BD1080p.中文字幕</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/3407.html"
                                               title="2011刘德华谢霆锋动作剧情《新少林寺》BD1080p.国粤双语中字">2011刘德华谢霆锋动作剧情《新少林寺》BD1080p.国粤双语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/B8tr2C55555C.html"
                                               title="2008成龙李连杰功夫武侠《功夫之王》BD1080p.国英双语中字">2008成龙李连杰功夫武侠《功夫之王》BD1080p.国英双语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/6241.html"
                                               title="1993经典古装武侠《新仙鹤神针》BD1080p.粤语中字"><font color="#17AC56">1993经典古装武侠《新仙鹤神针》BD1080p.粤语中字</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/tmtO6gOOOOOg.html"
                                               title="2021美国科幻动作《新生化危机》HD1080p.中英双字">2021美国科幻动作《新生化危机》HD1080p.中英双字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/23404.html"
                                               title="2019罪案动作《恶人传》BD1080p.中文字幕"><font color="#17AC56">2019罪案动作《恶人传》BD1080p.中文字幕</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/5187.html"
                                               title="1976邵氏7.7分古装武侠《流星蝴蝶剑》BD1080p.国语中字"><font color="#17AC56">1976邵氏7.7分古装武侠《流星蝴蝶剑》BD1080p.国语中字</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/f7cASCAAAAAC.html"
                                               title="2021基努·里维斯科幻动作《黑客帝国：矩阵重启》HD1080p.中英双字">2021基努·里维斯科幻动作《黑客帝国：矩阵重启》HD1080p.中英双字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/qDMZOR11111R.html"
                                               title="1979香港武侠动作《酒仙十八跌》HD1080p.国粤双语中字">1979香港武侠动作《酒仙十八跌》HD1080p.国粤双语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/i2dKzH11111H.html"
                                               title="2015美国暴力动作《绝命杀漠》BD1080p.中文字幕">2015美国暴力动作《绝命杀漠》BD1080p.中文字幕</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/xQv84h00000h.html"
                                               title="1993元彪古装武侠《新碧血剑》HD1080p.国语中字">1993元彪古装武侠《新碧血剑》HD1080p.国语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/A8Y1CFDDDDDF.html"
                                               title="2021经典系列特工动作《007：无暇赴死》BD1080p.中英双字">2021经典系列特工动作《007：无暇赴死》BD1080p.中英双字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/NUgXrXSSSSSX.html"
                                               title="2021释彦能剧情动作《九龙城寨》HD1080p.国语中字">2021释彦能剧情动作《九龙城寨》HD1080p.国语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/zmQACPOOOOOP.html"
                                               title="2020美国科幻动作《沙丘》BD1080p.国英双语中字"><font color="#17AC56">2020美国科幻动作《沙丘》BD1080p.国英双语中字</font></a>
                </li>
            </ul>
        </div>
        <div class="list-group cclear">
            <div class="cclear" id="heading-text">新片推荐</div>
            <ul>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/fNPU26333336.html"
                                               title="2013BBC8.9分地理纪录片《大陆的崛起》全4集"><font color="#EF4E1D">2013BBC8.9分地理纪录片《大陆的崛起》全4集</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/gser82UUUUU2.html"
                                               title="2020国产历史剧情《樟帮》HD1080p.国语中字">2020国产历史剧情《樟帮》HD1080p.国语中字</a></li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/d1WYzA77777A.html"
                                               title="2021国产动漫《斗魂卫之玄月奇缘第五季》更新至54集">2021国产动漫《斗魂卫之玄月奇缘第五季》更新至54集</a></li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/eQUiVP00000P.html"
                                               title="2022古装穿越网剧《小厨娘的少主夫君》更新至06集">2022古装穿越网剧《小厨娘的少主夫君》更新至06集</a></li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/1pfNvaWWWWWa.html"
                                               title="1987美国惊悚吸血鬼《血尸夜》BD1080p.中英双字">1987美国惊悚吸血鬼《血尸夜》BD1080p.中英双字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/xKmtnLIIIIIL.html"
                                               title="1987美国7.4分剧情喜剧《西尔薇回故乡》BD1080p.中英双字"><font color="#17AC56">1987美国7.4分剧情喜剧《西尔薇回故乡》BD1080p.中英双字</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/8I0D6ECCCCCE.html"
                                               title="1991德国惊悚恐怖《困惑的浪漫2》BD1080p.德语中字">1991德国惊悚恐怖《困惑的浪漫2》BD1080p.德语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/B8tr2C55555C.html"
                                               title="2008成龙李连杰功夫武侠《功夫之王》BD1080p.国英双语中字">2008成龙李连杰功夫武侠《功夫之王》BD1080p.国英双语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/ygEXuSQQQQQS.html"
                                               title="2013日本7.6分剧情喜剧《去见小洋葱的母亲》BD1080p.中文字幕"><font color="#17AC56">2013日本7.6分剧情喜剧《去见小洋葱的母亲》BD1080p.中文字幕</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/AiTHzNKKKKKN.html"
                                               title="2021胡歌8.2分登上纪录片《无尽攀登》HD1080p.国语中字"><font color="#EF4E1D">2021胡歌8.2分登上纪录片《无尽攀登》HD1080p.国语中字</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/rnPmqB99999B.html"
                                               title="2007美国7.6分奇幻恐怖《幻影凶间》BD1080p.中文字幕"><font color="#17AC56">2007美国7.6分奇幻恐怖《幻影凶间》BD1080p.中文字幕</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/zR634U22222U.html"
                                               title="2003日本暴力动作《少女杀手阿墨》BD1080p.中文字幕">2003日本暴力动作《少女杀手阿墨》BD1080p.中文字幕</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/rpIuWjRRRRRj.html"
                                               title="1998法国9.1分经典剧情《永恒和一日》BD1080p.中文字幕"><font color="#EF4E1D">1998法国9.1分经典剧情《永恒和一日》BD1080p.中文字幕</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/EZuJB4333334.html"
                                               title="2021Netflix9.0分动画《希尔达与山丘之王》HD1080p.中文字幕"><font color="#EF4E1D">2021Netflix9.0分动画《希尔达与山丘之王》HD1080p.中文字幕</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/mbruZE00000E.html"
                                               title="2021美国7.3分剧情《暗处的女儿》HD1080p.中文字幕"><font color="#17AC56">2021美国7.3分剧情《暗处的女儿》HD1080p.中文字幕</font></a>
                </li>
            </ul>
        </div>
        <div class="list-group cclear">
            <div class="cclear" id="heading-text">最新专题推荐</div>
            <ul>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/35.html"
                                               title="高口碑印度电影推荐">高口碑印度电影推荐</a></li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/34.html" title="2020奥斯卡获奖名单">2020奥斯卡获奖名单</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/33.html" title="2019年12月份好看电影佳片推荐">2019年12月份好看电影佳片推荐</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/32.html" title="2019年度冷门佳片合集">2019年度冷门佳片合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/31.html" title="2019评分最高华语电影合集">2019评分最高华语电影合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/30.html" title="2019评分最高外语电影合集">2019评分最高外语电影合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/29.html" title="2019年中国十大票房电影排行榜">2019年中国十大票房电影排行榜</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/28.html" title="2019年11月份佳片推荐">2019年11月份佳片推荐</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/27.html" title="2019最值得期待的华语电影合集">2019最值得期待的华语电影合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/26.html" title="2019最值得期待的外语电影合集">2019最值得期待的外语电影合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/25.html" title="2018评分最高的华语电影合集">2018评分最高的华语电影合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/23.html" title="2017年8月热门影片推荐">2017年8月热门影片推荐</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/22.html" title="2017年3月内地上映的电影">2017年3月内地上映的电影</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/21.html" title="2017年最值得期待的欧美院线大片合集">2017年最值得期待的欧美院线大片合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/20.html" title="2017年2月内地上映的电影">2017年2月内地上映的电影</a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javaScript" src="./2011闫妮姚晨古装喜剧《武林外传电影版》BD1080p.国语中字迅雷下载_免费高清电影下载_MP4电影_files/down.js"
            charset="UTF-8"></script>
    <script type="text/javascript" src="./2011闫妮姚晨古装喜剧《武林外传电影版》BD1080p.国语中字迅雷下载_免费高清电影下载_MP4电影_files/7376" async="async"
            charset="utf-8"></script>
    <script type="text/javascript">    var lut = 1641263186;
        var listid = 1;
    </script>
    <div class="footer cclear"><p class="copyright">本网站内容收集于互联网，MP4电影不承担任何由于内容的合法性及健康性所引起的争议和法律责任。
            欢迎大家对网站内容侵犯版权等不合法和不健康行为进行监督和举报。<br> 邮箱: domp4#yahoo.com（替换#为@）<br>Copyright ©2020-2021 domp4. All rights
            reserved.
        </p></div>
    <script charset="utf-8" src="./dy/base.js"></script>
    <a class="backtotop hidden-sm hidden-xs btn btn-default" href="#top" data-toggle="tooltip"
       data-placement="top" data-original-title="返回顶部"><i class="glyphicon glyphicon-arrow-up"></i></a>
    <script src="./dy/search.js"></script>
    <script src="./dy/rich-tf.js" id="richid" data="s=3515"></script>
    <script src="./dy/beitou-tf.js" id="beitouid" data="s=3487"></script>
    <span style="display:none"><script src="./dy/pcount.js"></script></span>
    <span id="cnzz_stat_icon_1254786789"></span>
    <script src="./dy/stat.php" type="text/javascript"></script>
</div>
{% endblock %}
