{% extends 'base_dy.html.twig' %}
{% block body %}
    <body data-new-gr-c-s-check-loaded="14.1044.0" data-gr-ext-installed=""><!--0-->
    <div class="container">
        {% include 'head.html.twig' with {'keyword': keyword} %}
        <div class="list_r cclear">
            <ul class="breadcrumb cclear">
                <li><a href="{{ path("index") }}">首页</a></li>
                <li class="active">{{ title }}</li>
                <span class="jieguo">找到相关结果约0个</span>
            </ul>
                <div class="text-center" style="padding:15px;">你迷路了！这这检索一下吧！</div>
        </div>
        <div class="vod_right">
            <div class="top">
                <script src="{{ asset("dy/right.js") }}"></script>
            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}
    </body>
{% endblock %}
