<!DOCTYPE html>
<!-- saved from url=(0037)https://www.domp4.cc/guestbook/1.html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>留言反馈</title>
    <link rel="stylesheet" href="./留言反馈_files/bootstrap.min.css">
    <link rel="stylesheet" href="./留言反馈_files/layui.css">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="applicable-device" content="pc">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.domp4.cc/guestbook/1.html">
    <meta name="mobile-agent" content="format=html5; url=https://m.domp4.cc/guestbook/1.html">
    <script src="./留言反馈_files/push.js"></script>
    <script type="text/javascript" src="./留言反馈_files/uaredirectforpc.js"></script>
    <script type="text/javascript">uaredirect("https://m.domp4.cc/guestbook/1.html");</script>
    <link rel="stylesheet" type="text/css" href="./留言反馈_files/style.css">
    <script charset="utf-8" src="./留言反馈_files/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/Style/2020/js/jquery.js"><\/script>');</script>
    <script src="./留言反馈_files/bootstrap.min.js"></script>
    <script src="./留言反馈_files/clipboard.min.js"></script>
    <script src="./留言反馈_files/jquery.lazyload.min.js"></script>
    <script src="./留言反馈_files/layui.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
    <script charset="utf-8" src="chrome-extension://jgphnjokjhjlcnnajmfjlacjnjkhleah/js/btype.js"></script>
    <script type="text/javascript" charset="utf-8"
            src="chrome-extension://jgphnjokjhjlcnnajmfjlacjnjkhleah/js/chrome.js"></script>
    <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
    <link id="layuicss-layer" rel="stylesheet" href="./留言反馈_files/layer.css" media="all">
</head>
<body data-new-gr-c-s-check-loaded="14.1043.0" data-gr-ext-installed="">
<div class="container">
    <div id="top" class="header">
        <div class="logo"><a href="https://www.domp4.cc/"><img src="./留言反馈_files/logo.gif" alt="MP4电影"></a></div>
        <div class="top_nav fright"><a href="https://www.domp4.cc/custom/update.html" style="color:red">今日更新</a>|
            <a rel="nofollow" href="https://www.domp4.cc/guestbook/1.html">留言</a>|
            <!--
            <a href="https://m.domp4.cc/guestbook/1.html">移动版</a>        --></div>
        <nav class="navbar navbar-inverse cclear">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"><span
                                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://www.domp4.cc/">MP4电影</a></div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="https://www.domp4.cc/list/99-1.html">最新电影</a></li>
                        <li><a href="https://www.domp4.cc/list/1-1.html">动作片</a></li>
                        <li><a href="https://www.domp4.cc/list/2-1.html">科幻片</a></li>
                        <li><a href="https://www.domp4.cc/list/3-1.html">爱情片</a></li>
                        <li><a href="https://www.domp4.cc/list/4-1.html">喜剧片</a></li>
                        <li><a href="https://www.domp4.cc/list/5-1.html">恐怖片</a></li>
                        <li><a href="https://www.domp4.cc/list/6-1.html">战争片</a></li>
                        <li><a href="https://www.domp4.cc/list/7-1.html">剧情片</a></li>
                        <li><a href="https://www.domp4.cc/list/8-1.html">纪录片</a></li>
                        <li><a href="https://www.domp4.cc/list/9-1.html">动画片</a></li>
                        <li><a href="https://www.domp4.cc/list/10-1.html">电视剧</a></li>
                        <li><a href="https://www.domp4.cc/slist/1.html">专题</a></li>
                        <li><a href="https://www.domp4.cc/sort.html">索引</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="search">
            <form class="navbar-form" action="https://www.domp4.cc/search/" method="post">
                <div class="form-group input-group"><input type="text" class="form-control" id="wd" name="wd"
                                                           placeholder="片名/主演/导演/标签"><input type="hidden" name="nobot"
                                                                                            value="1">
                    <button type="submit" class="btn btn-default glyphicon glyphicon-search">搜索</button>
                </div>
            </form>
        </div>
        <div class="header_top"></div>
    </div>
    <ul class="breadcrumb cclear">
        <li><a href="https://www.domp4.cc/">首页</a></li>
        <li class="active">留言反馈</li>
    </ul>
    <div class="gb">
        <div class="well">
            <ol class="">
                <li>常见问题：<font color="blue"><br>近期有网友反馈音画不同步，有声音无图像，有图像无声音等问题，本站测试均正常,无上述情况发生。<br>测试环境:<br>pc端：系统win10，播放器potplayer，解码器K-Lite
                        Codec Pack<br>IOS端：播放器nPlayer</font></li>
                <li>下载须知</li>
                <li>迅雷会员必备</li>
                <li><font color="red">收藏好页面底部的邮箱。发邮件即可获取本站最新地址。</font></li>
                <li><font color="red">新资源磁力链使用BT软件下载能更快的下完。</font></li>
                <li><font color="red">=============寻片（<font color="blue">仅限电影</font>）格式：《片名》+豆瓣网址，例如（《见鬼》https://movie.douban.com/subject/1296026/）,一次求篇不超过2部。不符合规则会被无视。电视剧不超过7分的不会添加。站内已存在的可进行修复。</font>求片不再一一回复，随时关注本站即可。
                </li>
                <li><font color="red">=============<font color="blue">PC端下载后推荐使用Potplayer进行播放，手机端推荐保存进迅雷云盘可直接观看。</font>============</font>
                </li>
            </ol>
        </div>
        <form role="form" action="https://www.domp4.cc/index.php?s=Gb-Insert" method="post" name="guestbook"
              id="guestbook">
            <div class="form-group"><input name="gb_cid" type="hidden" value=""><textarea name="gb_content"
                                                                                          id="gb_content"
                                                                                          class="form-control"
                                                                                          maxlength="200"
                                                                                          placeholder="报错请说清楚下载环境与具体片名集数"></textarea><input
                        id="gb_button" class="btn btn-default pull-right	" type="submit" value="发表留言"><label
                        id="gb_tips"></label></div>
        </form>
        <div class="media">
            <div class="media-left"><img class="media-object" style="width:45px" src="./留言反馈_files/face_1.jpg"></div>
            <div class="media-body"><h4 class="media-heading">游客<small><i> 第1楼</i></small></h4>
                <p>复制地址总是网页的地址？。</p>
                <p class="cclear text-danger">回复：检测自己的环境，是否开启了广告过滤插件导致功能失效</p></div>
        </div>
    </div>
    <div class="footer cclear"><p class="copyright">本网站内容收集于互联网，MP4电影不承担任何由于内容的合法性及健康性所引起的争议和法律责任。
            欢迎大家对网站内容侵犯版权等不合法和不健康行为进行监督和举报。<br> 邮箱: domp4#yahoo.com（替换#为@）<br>Copyright ©2020-2021 domp4. All rights
            reserved.
        </p></div>
    <script charset="utf-8" src="./留言反馈_files/base.js"></script>
    <a class="backtotop hidden-sm hidden-xs btn btn-default" href="https://www.domp4.cc/guestbook/1.html#top"
       data-toggle="tooltip" data-placement="top" data-original-title="返回顶部"><i
                class="glyphicon glyphicon-arrow-up"></i></a>
    <script src="./留言反馈_files/search.js"></script>
    <script src="./留言反馈_files/rich-tf.js" id="richid" data="s=3515"></script>
    <script src="./留言反馈_files/beitou-tf.js" id="beitouid" data="s=3487"></script>
    <span style="display:none"><script src="./留言反馈_files/pcount.js"></script><span
                id="cnzz_stat_icon_1254786789"></span><script src="./留言反馈_files/stat.php"
                                                              type="text/javascript"></script></span></div>
<script src="chrome-extension://fbnkflkahhlmhdgkddaafgnnokifobik/assets/pageScripts.js"></script>
</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</html>