<!DOCTYPE html>
<html data-n-head-ssr lang="zh-cmn-Hans" data-n-head="lang">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>冲TMTV - 专属于新西兰华人,海外华人的在线视频媒体平台,海量高清视频在线观看</title>
    <meta name="keywords" content="在线视频,在线电影,电影,电影大全,电影天堂,最新电影,好看的电影,电影排行榜,免费在线观看,电影,电视剧,动漫,视频网站,高清视频,恐怖电影,奈非蓝光,2021最新电影,蓝光电影,免费VIP视频,日本动,韩国电影,日本电影,免费视频,多瑙,多瑙影院,一帆视频,欧乐影院,555影视,独播库,iyingshi,爱影视,瓜子TV,泥巴影院,海外华人影院"/>
    <meta name="description" content="冲TMTV (chongtmtv.com) 免费为您收集分享最新热门电影,独播点播电视剧,番剧,美剧,国漫,综艺等,免费在线观看,海外在线免费影院,全球海外华人影视站,解决海外国外版权播放限制,为全球华人打造免费,无广告的在线影视播放平台"/>
    <head>
        <meta name="referrer" content="always">
    </head>
    <meta name="referrer" content="no-referrer"/>
    <link href="/template/Ds-wap/css/common.css?t=269" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/template/Ds-wap/js/assembly.js"></script>
    <script src="//cdn.bootcdn.net/ajax/libs/Swiper/5.1.0/js/swiper.min.js"></script>
    <script>var maccms = {"path": "", "mid": "", "aid": "1", "url": "chongtmtv.com", "wapurl": "chongtmtv.com", "mob_status": "2"};</script>
    <script src="/template/Ds-wap/js/home.js"></script>
    <script src="/template/Ds-wap/js/ec.js"></script>
    <link rel="icon" href="/template/Ds-wap/img/ico/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/template/Ds-wap/img/ico/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="head-c">
    <div class="cf ol2" style="position:fixed;z-index: 99;left: 0;right: 0;top: 0;">
        <div class="nav-a" style="position: relative;background:inherit">
            <div class="l" style="width: 1.6rem;"><a class="logo" style="background-image: url(/upload/site/20211020-1/e2b414a60d9581330efcbba1eb515dca.png);" href="/"></a></div>
            <h2><a href="/index.php/label/search.html" class="search cf"><span class="l sotitle">输入影片或演员名称</span><span class="soinoc fa r">&#xe8c9;</span></a></h2>
            <div class="r cf">
                <a class="fa r" href="/index.php/user/plays.html">&#xe8b0;</a>
                <a class="fa r leftlistshow listNav" href="javascript:;">&#xe677;</a>
            </div>
        </div>
        <div class="swiper-container2 l hidden">
            <ul id="nav-bar" class="swiper-wrapper">
                <li class="swiper-slide  ecnav-dt"><a href="/">首页</a></li>
                <li class="swiper-slide "><a href="/index.php/vod/type/id/1.html">电影</a></li>
                <li class="swiper-slide "><a href="/index.php/vod/type/id/2.html">电视剧</a></li>
                <li class="swiper-slide "><a href="/index.php/vod/type/id/3.html">综艺</a></li>
                <li class="swiper-slide "><a href="/index.php/vod/type/id/4.html">动漫</a></li>
                <li class="swiper-slide "><a href="/index.php/topic/index.html">专题</a></li>
                <li class="swiper-slide "><a href="/index.php/actor/index.html">明星</a></li>
            </ul>
        </div>
    </div>
    <div style="height:2.22rem"></div>
    <div class="bottom">
        <div class="swiper-container1">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-color" edata-color="#333">
                    <a class="index-swiper-bg" href="/index.php/vod/detail/id/300610.html" title="人世间" style='background-image: url(/upload/vod/20220130-1/043ac3d520703a398d8f5a0b05094d8a.jpeg);' alt="人世间更新至54集"></a>
                    <div class="ec-swiper-bottom" style="bottom:.2rem;"><h1 class="title h1 hidden">人世间·更新至54集</h1></div>
                </div>
                <div class="swiper-slide swiper-color" edata-color="#333">
                    <a class="index-swiper-bg" href="/index.php/vod/detail/id/299136.html" title="闪光的乐队" style='background-image: url(/upload/vod/20220206-1/500402a318d4e08dbb4fbfd38e065790.jpg);' alt="闪光的乐队更新至20220227"></a>
                    <div class="ec-swiper-bottom" style="bottom:.2rem;"><h1 class="title h1 hidden">闪光的乐队·更新至20220227</h1></div>
                </div>
                <div class="swiper-slide swiper-color" edata-color="#333">
                    <a class="index-swiper-bg" href="/index.php/vod/detail/id/300596.html" title="江照黎明" style='background-image: url(/upload/vod/20220129-1/fa8ce97ec447c072c81e1b2da750caf8.jpeg);' alt="江照黎明完结+番外"></a>
                    <div class="ec-swiper-bottom" style="bottom:.2rem;"><h1 class="title h1 hidden">江照黎明·完结+番外</h1></div>
                </div>
                <div class="swiper-slide swiper-color" edata-color="#333">
                    <a class="index-swiper-bg" href="/index.php/vod/detail/id/300718.html" title="嫣语赋" style='background-image: url(/upload/vod/20220210-1/d2fff3562e01e7371cf32788ef0efac8.jpg);' alt="嫣语赋更新至28集"></a>
                    <div class="ec-swiper-bottom" style="bottom:.2rem;"><h1 class="title h1 hidden">嫣语赋·更新至28集</h1></div>
                </div>
                <div class="swiper-slide swiper-color" edata-color="#333">
                    <a class="index-swiper-bg" href="/index.php/vod/detail/id/300688.html" title="瓦舍江湖" style='background-image: url(/upload/vod/20220206-1/67901b85b9c135c062c839e0533bbf99.jpg);' alt="瓦舍江湖更新至34集"></a>
                    <div class="ec-swiper-bottom" style="bottom:.2rem;"><h1 class="title h1 hidden">瓦舍江湖·更新至34集</h1></div>
                </div>
                <div class="swiper-slide swiper-color" edata-color="#333">
                    <a class="index-swiper-bg" href="/index.php/vod/detail/id/300173.html" title="飘雪的日子来看你" style='background-image: url(/upload/vod/20220206-1/b434cf06240131371bbe18b9fa2cef7f.jpg);' alt="飘雪的日子来看你更新至20220226"></a>
                    <div class="ec-swiper-bottom" style="bottom:.2rem;"><h1 class="title h1 hidden">飘雪的日子来看你·更新至20220226</h1></div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<script>let ec_deviation = new myUtil();
    ec_deviation.deviation('#nav-bar', 'li.ecnav-dt');</script>
<div class="tag cl">
    <ul class="index-tag type0">
        <li><a href="/index.php/vod/type/id/1.html"><i class="fa ol1">&#xe8b4;</i><span class="title">电影</span></a></li>
        <li><a href="/index.php/vod/type/id/2.html"><i class="fa ol2">&#xe60a;</i><span class="title">电视剧</span></a></li>
        <li><a href="/index.php/vod/type/id/3.html"><i class="fa ol3">&#xe607;</i><span class="title">综艺</span></a></li>
        <li><a href="https://chongtmtv.com/template/Ds-pc/ChongtmtvTV.apk"><i class="fa ol4">&#xe654;</i><span class="title">安卓TV端</span></a></li>
        <li><a href="/index.php/user/favs.html"><i class="fa ol5">&#xe8bc;</i><span class="title">收藏</span></a></li>
    </ul>
</div>
<div class="cf back cor2" style="border-radius:8px;padding:.14rem;margin:.3rem;height:22px;line-height:22px;overflow:hidden">
    <i class="fa on" style="font-size:20px;width:24px;line-height:22px;display:block;float:left"></i>
    <div style="font-size: 14px;height:22px;line-height:22px;overflow:hidden;">
        <marquee direction="left">如遇视频不能播放请刷新网页或切换“播放路线”。</marquee>
    </div>
</div>
<div class="box">
    <section>
        <div class="title-a cf">
            <h2 class="l cor2"><span class="weight"><i class="fa on">&#xe7c4;</i>热映推荐</span><a class="cor4" href="/index.php/label/rb.html" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a></h2>
            <div class="r siza on"> 今日更新"141"部</div>
        </div>
        <div class="list-a size">
            <ul>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/301222.html' title="反贪风暴5：最终章(粤)">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220226-1/86091fe5c8648eebd776b5bc307f3225.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">电影</span>
                            <span class="list-remarks hidden">12777播放</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/301222.html' title="反贪风暴5：最终章(粤)">反贪风暴5：最终章(粤)</a>
                        </div>
                        <div class="bt hidden cor4">古天乐,张智霖,郑嘉颖,宣萱,黄宗泽,谢天华,张继聪,叶晞月</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/299087.html' title="风起洛阳之神机少年">
                            <div class="lazy eclazy br" data-original="/upload/vod/20211217-1/c72e43cf26dc4d866b96050063984ba1.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">动漫</span>
                            <span class="list-remarks hidden">更新至13集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/299087.html' title="风起洛阳之神机少年">风起洛阳之神机少年</a>
                        </div>
                        <div class="bt hidden cor4">大陆动漫</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/252866.html' title="国王排名">
                            <div class="lazy eclazy br" data-original="/upload/vod/20211015-1/4db516cf5041433642a9e47b269fb363.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#FF6E6E;">超火</span>
                            <span class="list-remarks hidden">更新至19集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/252866.html' title="国王排名">国王排名</a>
                        </div>
                        <div class="bt hidden cor4">日向未南,村瀬步,梶裕贵,佐藤利奈,江口拓也,上田耀司,安元洋贵,田所阳向,山下大辉,三宅健太,本田贵子,坂本真绫,下山吉光,樱井孝宏</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/175977.html' title="独步逍遥">
                            <div class="lazy eclazy br" data-original="https://pic.monidai.com/img/75eeb8b9631151f7e000017f5e060168.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">国产</span>
                            <span class="list-remarks hidden">更新至185集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/175977.html' title="独步逍遥">独步逍遥</a>
                        </div>
                        <div class="bt hidden cor4">莫谦,时生,雅澜,萧悦</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/176074.html' title="老郭有新番">
                            <div class="lazy eclazy br" data-original="https://pic.monidai.com/img/f642996e9553e10a1cff9e4f360dd042.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">大陆</span>
                            <span class="list-remarks hidden">更新至20220221期</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/176074.html' title="老郭有新番">老郭有新番</a>
                        </div>
                        <div class="bt hidden cor4">大陆大陆</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/245138.html' title="行尸走肉第十一季">
                            <div class="lazy eclazy br" data-original="/upload/vod/20210829-1/d23a4205e99f80fdc68ead6e9bfa3cf2.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">欧美</span>
                            <span class="list-remarks hidden">更新至10集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/245138.html' title="行尸走肉第十一季">行尸走肉第十一季</a>
                        </div>
                        <div class="bt hidden cor4">劳伦·科汉,诺曼·瑞杜斯,梅丽莎·麦克布莱德,克里斯蒂·瑟拉图斯,乔什·麦克德米特,塞斯·吉列姆,罗斯·马昆德,卡里·佩顿,杰弗里·迪恩·摩根,卡兰·麦克奥利菲,埃莉诺·松浦,库珀·安德鲁斯,纳迪娅·希尔克,凯莱·弗莱明,卡萨迪·麦克林西,丹·福勒,劳伦·利德洛夫,马格特·宾汉,C·托马斯·豪威尔</div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
<div class="ec-ad top20"><a href="" target="_blank"><img src="/upload/ad/20211007-1/8d222fd074dc5e0556a91e4f9d019b81.png" alt="首页分类"></a></div>
<div class="box">
    <section>
        <div class="title-a cf">
            <h2 class="l cor2">
                <span class="weight"><i class="fa on">&#xe8b4;</i>电影</span>
            </h2>
            <div class="r siza"><a class="cor4" href="/index.php/vod/show/id/1.html" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a></div>
        </div>
        <div class="list-a size">
            <ul>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/301222.html' title="反贪风暴5：最终章(粤)">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220226-1/86091fe5c8648eebd776b5bc307f3225.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">电影</span>
                            <span class="list-remarks hidden">12777播放</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/301222.html' title="反贪风暴5：最终章(粤)">反贪风暴5：最终章(粤)</a>
                        </div>
                        <div class="bt hidden cor4">古天乐,张智霖,郑嘉颖,宣萱,黄宗泽,谢天华,张继聪,叶晞月</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/301223.html' title="反贪风暴5：最终章(国)">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220226-1/60229bc7620650617d0ca5f27cda4ba0.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">电影</span>
                            <span class="list-remarks hidden">8459播放</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/301223.html' title="反贪风暴5：最终章(国)">反贪风暴5：最终章(国)</a>
                        </div>
                        <div class="bt hidden cor4">古天乐,张智霖,郑嘉颖,宣萱,黄宗泽,谢天华,张继聪,叶晞月</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/301221.html' title="王者制造">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220226-1/585bc34fb3dbf5be543e3b510ad5380c.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">电影</span>
                            <span class="list-remarks hidden">10814播放</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/301221.html' title="王者制造">王者制造</a>
                        </div>
                        <div class="bt hidden cor4">薛景求,李善均,刘在明,赵宇镇,朴仁焕,裴宗玉,李海荣,金成伍,全裴修,金玺碧,徐恩秀</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/301220.html' title="碑">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220226-1/3562667e637dd97b640f31435380080d.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">电影</span>
                            <span class="list-remarks hidden">12167播放</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/301220.html' title="碑">碑</a>
                        </div>
                        <div class="bt hidden cor4">杨晓宇,李博文,栾致昊,宋恩昊,赵健,曹林心宇</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/301219.html' title="暂无出口">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220226-1/b25df20ef0042aa144c6d45e174fe14d.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">电影</span>
                            <span class="list-remarks hidden">9853播放</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/301219.html' title="暂无出口">暂无出口</a>
                        </div>
                        <div class="bt hidden cor4">戴尔·迪奇,丹尼斯·海斯伯特,丹尼·拉米雷斯,大卫·里达尔,Benedict,Wall,Mila,Harris,Havana,Rose,Liu,Kirsty,Hamilton</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/301218.html' title="蛇岛狂蟒">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220226-1/874d3d716087f953caa3381095f2f746.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">电影</span>
                            <span class="list-remarks hidden">9871播放</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/301218.html' title="蛇岛狂蟒">蛇岛狂蟒</a>
                        </div>
                        <div class="bt hidden cor4">岑明,刘雪帆,王阳,李长怿,李梓泽</div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
<div class="box">
    <section>
        <div class="title-a cf">
            <h2 class="l cor2">
                <span class="weight"><i class="fa on">&#xe6ad;</i>电视剧</span>
            </h2>
            <div class="r siza"><a class="cor4" href="/index.php/vod/show/id/2.html" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a></div>
        </div>
        <div class="list-a size">
            <ul>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/300829.html' title="气象厅的人们：社内恋爱残酷史篇">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220213-1/1cdecada4fa51469bfa321e8b8ece841.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">韩国</span>
                            <span class="list-remarks hidden">更新至05集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/300829.html' title="气象厅的人们：社内恋爱残酷史篇">气象厅的人们：社内恋爱残酷史篇</a>
                        </div>
                        <div class="bt hidden cor4">朴敏英,宋江,尹博,金亚荣,金美京,裴明镇</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/301064.html' title="我的小可爱">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220220-1/95287564979a693039c8eb55bc414e01.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">泰剧</span>
                            <span class="list-remarks hidden">更新至02集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/301064.html' title="我的小可爱">我的小可爱</a>
                        </div>
                        <div class="bt hidden cor4">李海海,New,Chawarin,Perdpiriyawong,Yim,Pharinyakorn,Khansawa,萨澜·鲁杰耶拉塔纳福拉潘,纳塔西特·尤阿瑞克西,Tutor,Koraphat,Lamnoi,纳坤·斯克瑞艾</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/300553.html' title="封刃师">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220125-1/cbe361739efc7281975973155c9d2fbb.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">日本</span>
                            <span class="list-remarks hidden">更新至07集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/300553.html' title="封刃师">封刃师</a>
                        </div>
                        <div class="bt hidden cor4">早乙女太一,远藤雄弥,中村由利佳,深川麻衣,手塚通,桥本润</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/300353.html' title="逃亡医F">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220116-1/7e605e8f5bd936b996301ccf461c3eb8.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">日本</span>
                            <span class="list-remarks hidden">更新至07集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/300353.html' title="逃亡医F">逃亡医F</a>
                        </div>
                        <div class="bt hidden cor4">成田凌,森七菜,松冈昌宏,桐山照史,堺小春,和田聪宏,酒向芳,前田敦子,安田显</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/301087.html' title="梦魇绝镇">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220221-1/580c11141942730bddfb131ec0950b40.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">美国</span>
                            <span class="list-remarks hidden">更新至04集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/301087.html' title="梦魇绝镇">梦魇绝镇</a>
                        </div>
                        <div class="bt hidden cor4">哈罗德·佩里诺,卡塔琳娜·桑地诺·莫雷诺,艾恩·贝利,汉娜切尔敏,Simon,Webster,瑞奇·何,Chloe,Van,Landschoot,肖恩·摩忠德,Corteon,Moore,Pegah,Ghafoori,大卫·阿尔帕伊,伊丽莎白·桑德斯,Avery,Konrad,Elizabeth,Moy,Vox,Smith,斯科特·麦克科德</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/300827.html' title="二十五，二十一">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220212-1/5104492f9c863db6096caa884c3da8ec.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">韩国</span>
                            <span class="list-remarks hidden">更新至5集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/300827.html' title="二十五，二十一">二十五，二十一</a>
                        </div>
                        <div class="bt hidden cor4">金泰梨,南柱赫,金知妍,崔显旭,李周明,金英善,金惠恩</div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
<div class="box">
    <section>
        <div class="title-a cf">
            <h2 class="l cor2">
                <span class="weight"><i class="fa on">&#xe895;</i>综艺</span>
            </h2>
            <div class="r siza"><a class="cor4" href="/index.php/vod/show/id/3.html" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a></div>
        </div>
        <div class="list-a size">
            <ul>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/300007.html' title="麻花特开心">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220109-1/c860d1851b358d033aeb413218018350.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#FF6E6E;">综艺</span>
                            <span class="list-remarks hidden">更新至20220227</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/300007.html' title="麻花特开心">麻花特开心</a>
                        </div>
                        <div class="bt hidden cor4">沈腾,马丽,艾伦,常远,吴昱翰,黄才伦,王成思,刘迅,许文赫,高海宝,李海银,许吴彬</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/246148.html' title="综艺大热门">
                            <div class="lazy eclazy br" data-original="/upload/vod/20210914-1/e895c4a56d1cf8040ec9da86031df206.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">港台</span>
                            <span class="list-remarks hidden">更新至20220223集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/246148.html' title="综艺大热门">综艺大热门</a>
                        </div>
                        <div class="bt hidden cor4">吴宗宪,欧汉声,陈汉典,阿达,LULU</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/253324.html' title="小明星大跟班">
                            <div class="lazy eclazy br" data-original="/upload/vod/20211019-1/e533dc4c67813823d1045121588f4275.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">港台</span>
                            <span class="list-remarks hidden">更新至20220224集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/253324.html' title="小明星大跟班">小明星大跟班</a>
                        </div>
                        <div class="bt hidden cor4">吴宗宪,吴姗儒</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/299669.html' title="你好星期六">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220102-1/ad840af1b2c473ccd833c067c41ed755.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">综艺</span>
                            <span class="list-remarks hidden">更新至20220226</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/299669.html' title="你好星期六">你好星期六</a>
                        </div>
                        <div class="bt hidden cor4">何炅,蔡少芬,秦霄贤,王鹤棣,布瑞吉</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/299136.html' title="闪光的乐队">
                            <div class="lazy eclazy br" data-original="/upload/vod/20211219-1/e1a1ca8dd5f779a6b9048c886ed1f287.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">音乐</span>
                            <span class="list-remarks hidden">更新至20220227</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/299136.html' title="闪光的乐队">闪光的乐队</a>
                        </div>
                        <div class="bt hidden cor4">26位音乐人初舞台炸场</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/301065.html' title="一往无前的蓝">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220220-1/5df980655ea257af6d431742e8ff2945.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">大陆</span>
                            <span class="list-remarks hidden">20220226(第2期)</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/301065.html' title="一往无前的蓝">一往无前的蓝</a>
                        </div>
                        <div class="bt hidden cor4">张翰,魏大勋,张彬彬,秦霄贤,张颜齐,张嘉元</div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
<div class="box">
    <section>
        <div class="title-a cf">
            <h2 class="l cor2">
                <span class="weight"><i class="fa on">&#xe61e;</i>动漫</span>
            </h2>
            <div class="r siza"><a class="cor4" href="/index.php/vod/show/id/4.html" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a></div>
        </div>
        <div class="list-a size">
            <ul>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/300092.html' title="明日酱的水手服">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220111-1/53dd74ac55932339a9d444cca1ae05c4.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">动漫</span>
                            <span class="list-remarks hidden">更新至08集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/300092.html' title="明日酱的水手服">明日酱的水手服</a>
                        </div>
                        <div class="bt hidden cor4">村上真夏,鬼头明里,小原好美,伊藤美来,雨宫天,若山诗音,田所梓,伊濑茉莉也,关根明良,三上枝织,白石晴香,本渡枫,石川由依,麻仓桃,神户光步,石上静香</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/300091.html' title="怪人开发部的黑井津">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220111-1/9fb259917d23992c8ca72a800c5c6e8a.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">动漫</span>
                            <span class="list-remarks hidden">更新至07集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/300091.html' title="怪人开发部的黑井津">怪人开发部的黑井津</a>
                        </div>
                        <div class="bt hidden cor4">前田佳织里,天野聪美,梅原裕一郎</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/300633.html' title="白领羽球部">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220130-1/aad5ebd9af5eab76e5889aade97d010f.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">日韩</span>
                            <span class="list-remarks hidden">更新至05集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/300633.html' title="白领羽球部">白领羽球部</a>
                        </div>
                        <div class="bt hidden cor4">日本日本动漫</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/300180.html' title="更衣人偶坠入爱河">
                            <div class="lazy eclazy br" data-original="/upload/vod/20220113-1/f39af3a061537776ea1751814ef01fde.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">动漫</span>
                            <span class="list-remarks hidden">更新至08集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/300180.html' title="更衣人偶坠入爱河">更衣人偶坠入爱河</a>
                        </div>
                        <div class="bt hidden cor4">未知</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/252682.html' title="鲁邦三世 PART6">
                            <div class="lazy eclazy br" data-original="/upload/vod/20211011-1/bfcbe1d8020a79ceae263a1d14be9588.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">日本</span>
                            <span class="list-remarks hidden">更新至20集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/252682.html' title="鲁邦三世 PART6">鲁邦三世 PART6</a>
                        </div>
                        <div class="bt hidden cor4">鲁邦三世 PART6 ルパン三世 PART62021,鲁邦三世 PART6 ルパン三世 PART6</div>
                    </div>
                </li>
                <li class="list-width volistwidthb">
                    <div class="top list-hide volistheightb">
                        <a class="img" href='/index.php/vod/detail/id/264065.html' title="凡人修仙传">
                            <div class="lazy eclazy br" data-original="https://img.52swat.cn/upload/vod/20200816-1/dd60ef29e9a65d85dd67594c39637425.jpg" style="background-image: url(/upload/site/20210816-1/f5a053342f2ddf5ee8002e77d7d2b001.png);"></div>
                            <span class="pack-bg br-bt"></span>
                            <span class="list-tag" style="background:#;">国产</span>
                            <span class="list-remarks hidden">修正39集</span>
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="title hidden">
                            <a href='/index.php/vod/detail/id/264065.html' title="凡人修仙传">凡人修仙传</a>
                        </div>
                        <div class="bt hidden cor4">,钱文青,杨天翔,杨默,歪歪,谷江山</div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
<div>
    <div class="title-a cf box">
        <h2 class="l cor2"><span class="weight">友情链接</span></h2>
        <div class="r siza"><a class="cor4" href="/index.php/label/link.html" title="申请友联">申请友联<i class="fa">&#xe62d;</i></a></div>
    </div>
    <ul class="link cf">
    </ul>
</div>
<div></div>
<div id="leftlist" class="left-listbody-a">
    <div id="llof" class="leftmenubg"></div>
    <div class="left-list lcb">
        <div class="sidenv-top" style="background:#29abe2">
            <a class="sidenv_exit" href="/index.php/user/login.html"><i class="fa rg6">&#xe7cb;</i>登陆</a>
            <a href="/index.php/user/login.html" class="sidenv_user">
                <em><img src="/upload/site/20210816-1/240c3b39ac935a30fa1d227698f0aa33.png"></em>
                <p class="fyy">登陆后发现更多精彩...</p>
            </a>
            <div class="comiis_svg_box">
                <div class="comiis_svg_a"></div>
                <div class="comiis_svg_b"></div>
            </div>
        </div>
        <div class="bottom ">
            <ul>
                <li><a href="/"><i class="co6 fa">&#xe8c7;</i>首页</a></li>
                <li>
                    <a href="/index.php/vod/type/id/1.html" title="电影"><i class="co0 fa">&#xe8b4;</i><span>电影</span></a>
                </li>
                <li>
                    <a href="/index.php/vod/type/id/2.html" title="电视剧"><i class="co1 fa">&#xe6ad;</i><span>电视剧</span></a>
                </li>
                <li>
                    <a href="/index.php/vod/type/id/3.html" title="综艺"><i class="co2 fa">&#xe895;</i><span>综艺</span></a>
                </li>
                <li>
                    <a href="/index.php/vod/type/id/4.html" title="动漫"><i class="co3 fa">&#xe61e;</i><span>动漫</span></a>
                </li>
                <li><a href="/index.php/label/rank.html"><i class="co3 fa">&#xe7c4;</i>影视排行</a></li>
                <li><a href="/index.php/map/index.html"><i class="co1 fa">&#xe71e;</i>最新更新</a></li>
                <li><a href="/index.php/gbook/index.html"><i class="co2 fa">&#xe642;</i>留言板</a></li>
                <li><a href="/index.php/user/plays.html"><i class="co3 fa">&#xe8b0;</i>观看记录</a></li>
                <li><a href="/index.php/actor/index.html"><i class="co7 fa">&#xe8bc;</i>明星</a></li>
                <li><a href="/ds.php/live"><i class="co2 fa">&#xe8d5;</i>直播</a></li>
                <li><a href="/ds.php/viv"><i class="co4 fa">&#xe60a;</i>电视直播</a></li>
                <li><a href="/index.php/topic/index.html"><i class="co2 fa">&#xe67e;</i>专题</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="ec_mh_foot back">
    <p class="top cor4">冲TM TV网站内所有内容来源于互联网，仅提供网页资讯交流服务，本站并不制作、不存储任何视频及其任何相关内容，且不承担任何由于内容的合法性及健康性所引起的一切争议和法律责任。
        <br>
        若本站收集的节目无意侵犯了贵司版权，请联系我们，我们将在第一时间删除相应资源
        <br>
        Copyright © 冲tm TV - Email: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a7c4cfc8c9c0d3cad3d1e7c0cac6cecb89c4c8ca">[email&#160;protected]</a>、上传,邮箱：<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="45262d2a2b2231283133052228242c296b262a28">[email&#160;protected]</a></p>
    <p class="comiis_mh_copy cor2">Copyright &copy 2021 冲TMTV - 专属于新西兰华人,海外华人的在线视频媒体平台,海量高清视频在线观看</p>
</div>
<div class="ec-footer_scroll">
    <div class="ec-lrmenu">
        <a href="javascript:;" style="display:none" id="scrollUp" title="返回顶部"><i class="fa">&#xe62c;</i></a>
        <a href="https://chongtmtv.com/template/Ds-pc/weixinKeFu/index.html" title="客服"><i class="fa">&#xe8bf;</i></a><a href="/index.php/label/search.html" title="搜索"><i class="fa">&#xe8c9;</i></a><a href="/index.php/gbook/index.html" title="留言"><i class="fa">&#xe8cb;</i></a> <a href="javascript:;" onclick="location.reload()" title="刷新"><i class="fa">&#xe653;</i></a>
    </div>
    <a href="javascript:;" title="菜单" class="ec-lrmenukey ol2"><i class="fa">&#xe8b5;</i></a>
</div>
<div style="display:none">
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EEFR9GTCCL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-EEFR9GTCCL');
    </script>
</div>
<div class="popup allPopup hide">
    <div class="zdbj"></div>
    <div class="popup-box lcb br">
        <h2 class="popup-title cor2">冲TM TV公告</h2>
        <div class="popup-content cor2"><h4 style="color:#4e96f5">视频评论功能已正式上线啦，大家速速踊跃在视频下方评论您的观后感吧</h4>
            <br/>
            <p style="color:#0694FF">求片：搜索不到您要看的视频? 不满意视频清晰度？点击右下角的留言板链接并留言您要的视频名字，我们会尽快处理！</p>
            <br/>
            用户注册：请不要使用手机或邮箱进行注册，请用任意用户名注册。
        </div>
        <div class="popup-btn"><a class="popup-conch buthide ol2" style="margin-right:4%;" href="javascript:;">朕已阅</a><a class="popup-subs buthide ol7" href="javascript:;">取消</a></div>
    </div>
</div>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6e42ba691996498f","version":"2021.12.0","r":1,"token":"38111e2112db4365a5f7ed5945d83c30","si":100}' crossorigin="anonymous"></script>
</body>
</html>