<div class="footer cclear">
    <p class="copyright">本网站内容收集于互联网，MP4电影不承担任何由于内容的合法性及健康性所引起的争议和法律责任。
        欢迎大家对网站内容侵犯版权等不合法和不健康行为进行监督和举报。<br> 邮箱: hilaiya.com#protonmail.com（替换#为@）<br>Copyright ©2020-2022 hilaiya.com. All rights
        reserved.
    </p>
</div>
<script charset="utf-8" src="{{ asset("dy/base.js") }}"></script>