<footer class="ec-footer">
    <div class="footer-content wwp">
        <div class="footer-company b-t">
            <div class="company-col company-col-40">
                <p class="cate-title cor3">关于我们</p>
                <ul class="cate-list">
                    <li class="list-item"><a href="javascript:void(0);" title="广告投放" target="_blank" class="link black">广告投放</a><a href="" title="" target="_blank" class="link black"></a></li>
                    <li class="list-item"><a href="" title="" target="_blank" class="link black"></a><a href="" title="" target="_blank" class="link black"></a></li>
                    <li class="list-item"><a href="" title="" target="_blank" class="link black"></a><a href="" title="" target="_blank" class="link black"></a></li>
                </ul>
            </div>
            <div class="company-col company-col-40">
                <p class="cate-title cor3">生态合作</p>
                <ul class="cate-list">
                    <li class="list-item"><a title="联系方式：hilaiya.com@protonmail.com" target="_blank" class="link black">联系方式：<span class="__cf_email__" data-cfemail="aac9c2c5c4cddec7dedceacdc7cbc3c684c9c5c7">hilaiya.com@protonmail.com</span></a><a href="" title="" target="_blank" class="link black"></a></li>
                    <li class="list-item"><a title="" target="_blank" class="link black"></a><a href="" title="" target="_blank" class="link black"></a></li>
                    <li class="list-item"><a title="" target="_blank" class="link black"></a><a href="" title="" target="_blank" class="link black"></a></li>
                </ul>
            </div>
            <div class="company-col company-col-20">
                <p class="cate-title cor3">服务</p>
                <ul data-v-7aff78ea="" class="cate-list">
                    <li class="list-item"><a title="求片" target="_blank" class="link black">求片</a><a href="" title="" target="_blank" class="link black"></a></li>
                    <li class="list-item"><a title="安卓TV端" target="_blank" class="link black">安卓TV端</a><a href="" title="" target="_blank" class="link black"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-law">


            <p class="cor3"><span class="law-link">老虎TV TV网站内所有内容来源于互联网，仅提供网页资讯交流服务，本站并不制作、不存储任何视频及其任何相关内容，且不承担任何由于内容的合法性及健康性所引起的一切争议和法律责任。
<br>
若本站收集的节目无意侵犯了贵司版权，请联系我们，我们将在第一时间删除相应资源
<br>
Copyright ©  老虎 TV - Email: <a href="javascript:void(0);" class="__cf_email__" data-cfemail="d4b7bcbbbab3a0b9a0a294b3b9b5bdb8fab7bbb9">[email&#160;protected]</a></span></p>
            <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1280910132'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1280910132%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            <script>
                var _hmt = _hmt || [];
                (function () {
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?dfa2bddd1d3bd46fba45175aeaabdab4";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
        </div>
    </div>
    <div class="ec-scroll-anchor">
        <ul class="scroll-anchor">
            <li class="anchor-list">
                <a href="javascript:void(0);" title="客服" class="anchor-item back">
                    <i class="fa">&#xe8bf;</i>
                    <span class="anchor-txt">客服</span>
                </a>
            </li>
            <li class="anchor-list">
                <a href="javascript:void(0);" title="搜索" class="anchor-item back">
                    <i class="fa">&#xe8c9;</i>
                    <span class="anchor-txt">搜索</span>
                </a>
            </li>
            <li class="anchor-list">
                <a href="javascript:void(0);" title="留言" class="anchor-item back">
                    <i class="fa">&#xe8cb;</i>
                    <span class="anchor-txt">留言</span>
                </a>
            </li>
            <li class="anchor-list">
                <a href="javascript:;" onclick="location.reload()" title="刷新页面" target="_blank" class="anchor-item back">
                    <i class="fa">&#xe653;</i>
                    <span class="anchor-txt">刷新</span>
                </a>
            </li>
            <li id="scrollUp" class="anchor-list">
                <a href="javascript:;" title="返回顶部" target="_blank" class="anchor-item back">
                    <i class="fa">&#xe62c;</i>
                    <span class="anchor-txt">返回顶部</span>
                </a>
            </li>
        </ul>
    </div>
</footer>
