{% extends 'base_dy.html.twig' %}
{% block body %}
<body data-new-gr-c-s-check-loaded="14.1043.0" data-gr-ext-installed="">
<div class="container">
    {% include 'head.html.twig' %}
    <div class="special list_r cclear">
        <ul class="breadcrumb cclear">
            <li><a href="https://www.domp4.cc/">首页</a></li>
            <li><a href="https://www.domp4.cc/slist/1.html">专题</a></li>
            <li class="active">2017年1月贺岁档动画电影</li>
        </ul>
        <h1>2017年1月贺岁档动画电影</h1>
        <div class="tips"><span class="film_nums">影片数：9部</span><span class="update_time">更新时间：2016-12-31</span>
            <div class="special_content"><p>总的来说，今年的国产动画电影交出的成绩单并不让人满意，距离《<a
                            href="https://www.domp4.cc/detail/4297.html" target="_blank">大圣归来</a>》的成功都尚远，更不必说日本美国的作品，革命尚未成功，同志仍需努力，中国动画道阻且长，还有很多的坑需要一一走过去。
                </p>
                <p>从各家公司投拍的计划来看，新的一年或许会有更多大制作的动画电影面世，而它们是会让国产动画的前方更加璀璨，还是会给刚燃起火花的市场浇一碗凉水，就让我们拭目以待吧。</p></div>
        </div>
        <div id="list_all">
            <ul>
                <li><a href="https://www.domp4.cc/detail/17994.html"><img class="lazy"
                                                                          data-original="https://img.domp4.cc/vod/a/58233981b1b40.jpg"
                                                                          src="./2017年1月贺岁档动画电影迅雷下载_MP4电影_files/58233981b1b40.jpg"
                                                                          alt="《魔弦传说/久保与二弦琴》"
                                                                          style="display: block;"></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/17994.html">魔弦传说/久保与二弦琴</a></h2>
                        <p class="actor"><span>主演∶</span><span><a rel="nofollow" target="_blank"
                                                                  href="https://www.domp4.cc/search/%E6%9F%A5%E7%90%86%E5%85%B9%C2%B7%E5%A1%9E%E9%9A%86-1.html">查理兹·塞隆</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E9%98%BF%E7%89%B9%C2%B7%E5%B8%95%E9%87%91%E6%A3%AE-1.html">阿特·帕金森</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E6%8B%89%E5%B0%94%E5%A4%AB%C2%B7%E8%B4%B9%E5%9B%A0%E6%96%AF-1.html">拉尔夫·费因斯</a></span>
                        </p>
                        <p class="director"><span>导演∶</span><span><a rel="nofollow" target="_blank"
                                                                     href="https://www.domp4.cc/search/%E7%89%B9%E6%8B%89%E7%BB%B4%E6%96%AF%C2%B7%E5%A5%88%E7%89%B9-1.html">特拉维斯·奈特</a></span>
                        </p>
                        <p><span>地区∶</span>美国</p>
                        <p class="info">
                            《久保与二弦琴》的故事主角是生活在海岸边的男孩久保。当一位来自过去的怨灵将他卷入复仇之中的时候，久保平静低调的生活瞬间掀起巨浪。在神灵与妖怪的追杀之下，久保反败…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/detail/18028.html"><img class="lazy"
                                                                          data-original="https://img.domp4.cc/vod/5/582b171b208d3.jpg"
                                                                          src="./2017年1月贺岁档动画电影迅雷下载_MP4电影_files/582b171b208d3.jpg"
                                                                          alt="《熊出没之奇幻空间》" style="display: block;"></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/18028.html">熊出没之奇幻空间</a></h2>
                        <p class="actor"><span>主演∶</span><span><a rel="nofollow" target="_blank"
                                                                  href="https://www.domp4.cc/search/%E9%B2%8D%E6%98%A5%E6%9D%A5-1.html">鲍春来</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E5%B0%9A%E9%9B%AF%E5%A9%95-1.html">尚雯婕</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E5%AD%99%E5%BB%BA%E5%BC%98-1.html">孙建弘</a></span>
                        </p>
                        <p class="director"><span>导演∶</span><span><a rel="nofollow" target="_blank"
                                                                     href="https://www.domp4.cc/search/%E4%B8%81%E4%BA%AE-1.html">丁亮</a></span>
                        </p>
                        <p><span>地区∶</span>大陆</p>
                        <p class="info">《熊出没·奇幻空间》则继续围绕“森林”做题目，讲述熊大、熊二和光头强与金鹿角守护者——鹿族女孩协力保护金鹿角，击垮反派，最终让森林复苏的故事。</p>
                    </div>
                </li>
                <li><a href="https://www.domp4.cc/detail/18129.html"><img class="lazy"
                                                                          data-original="https://img.domp4.cc/vod/4/583f8724bd510.jpg"
                                                                          src="./2017年1月贺岁档动画电影迅雷下载_MP4电影_files/blank.png"
                                                                          alt="《蛋计划》"></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/18129.html">蛋计划</a></h2>
                        <p class="actor"><span>主演∶</span><span><a rel="nofollow" target="_blank"
                                                                  href="https://www.domp4.cc/search/%E5%91%A8%E5%BE%AE-1.html">周微</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E5%AD%9F%E9%9B%A8%E7%94%B0-1.html">孟雨田</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E5%88%98%E8%8E%89-1.html">刘莉</a></span></p>
                        <p class="director"><span>导演∶</span><span><a rel="nofollow" target="_blank"
                                                                     href="https://www.domp4.cc/search/%E6%9D%8E%E6%89%AC%E6%AD%A6-1.html">李扬武</a></span>
                        </p>
                        <p><span>地区∶</span>大陆</p>
                        <p class="info">
                            萝卜兔和土豆奉命回到地球，发现钱博士正在做出危及整个星球未来的行为。为了拯救星球的人民，土豆和萝卜兔与钱博士斗智斗勇，成为人们心目中的英雄。最后战胜了钱博士，拯…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/detail/18361.html"><img class="lazy"
                                                                          data-original="https://img.domp4.cc/vod/f/58637098c2350.jpg"
                                                                          src="./2017年1月贺岁档动画电影迅雷下载_MP4电影_files/blank.png"
                                                                          alt="《大魔法师孟兜兜》"></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/18361.html">大魔法师孟兜兜</a></h2>
                        <p class="actor"><span>主演∶</span><span><a rel="nofollow" target="_blank"
                                                                  href="https://www.domp4.cc/search/%E9%83%AD%E5%A4%AA%E6%97%AD-1.html">郭太旭</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E7%9F%B3%E6%A2%81%E4%B8%80%E9%AA%81-1.html">石梁一骁</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E4%B8%A5%E4%BD%B3%E8%8C%B5-1.html">严佳茵</a></span>
                        </p>
                        <p class="director"><span>导演∶</span><span><a rel="nofollow" target="_blank"
                                                                     href="https://www.domp4.cc/search/%E5%AD%9F%E6%99%96-1.html">孟晖</a></span>
                        </p>
                        <p><span>地区∶</span>大陆</p>
                        <p class="info">
                            6岁的孟兜兜从小就跟不靠谱、爱幻想的年轻老妈孟陆相依为命，他一直相信他的爸爸是一个伟大的魔法师，并坚信自己的身上也遗传了神奇的魔力，他选择用魔幻的眼光来看待这个…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/detail/18360.html"><img class="lazy"
                                                                          data-original="https://img.domp4.cc/vod/0/58637007ecf50.jpg"
                                                                          src="./2017年1月贺岁档动画电影迅雷下载_MP4电影_files/blank.png"
                                                                          alt="《超能龙骑侠》"></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/18360.html">超能龙骑侠</a></h2>
                        <p class="actor"><span>主演∶</span><span><a rel="nofollow" target="_blank"
                                                                  href="https://www.domp4.cc/search/%E9%AB%98%E6%9E%AB-1.html">高枫</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E6%96%B9%E5%AE%87-1.html">方宇</a></span> /
                            <span><a rel="nofollow" target="_blank"
                                     href="https://www.domp4.cc/search/%E8%83%A1%E8%B6%8A-1.html">胡越</a></span></p>
                        <p class="director"><span>导演∶</span><span><a rel="nofollow" target="_blank"
                                                                     href="https://www.domp4.cc/search/%E5%88%98%E5%8F%AF%E6%AC%A3-1.html">刘可欣</a></span>
                        </p>
                        <p><span>地区∶</span>大陆</p>
                        <p class="info">
                            新一任龙骑侠，送花少年果果曾经在好朋友的帮助下封印了邪恶的黑都督。过久了平淡无奇的生活，果果的内心又开始躁动起来，然而追求速度和力量的他只能将一腔英雄热血用在与…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/detail/18151.html"><img class="lazy"
                                                                          data-original="https://img.domp4.cc/vod/c/58455f172e6b4.jpg"
                                                                          src="./2017年1月贺岁档动画电影迅雷下载_MP4电影_files/blank.png"
                                                                          alt="《大卫贝肯之倒霉特工熊》"></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/18151.html">大卫贝肯之倒霉特工熊</a></h2>
                        <p class="actor"><span>主演∶</span><span><a rel="nofollow" target="_blank"
                                                                  href="https://www.domp4.cc/search/%E5%BE%90%E4%BD%B3%E7%90%AA-1.html">徐佳琪</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E6%B1%A4%E6%B0%B4%E9%9B%A8-1.html">汤水雨</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E6%9D%A8%E9%BB%98-1.html">杨默</a></span></p>
                        <p class="director"><span>导演∶</span><span><a rel="nofollow" target="_blank"
                                                                     href="https://www.domp4.cc/search/%E6%9D%8E%E6%B8%85%E8%88%AB-1.html">李清舫</a></span>
                        </p>
                        <p><span>地区∶</span>大陆</p>
                        <p class="info">
                            随着人类对自然资源的过度开采，北极的环境被完全破坏，只剩下最后一只北极熊得以存活。人类女孩杰西卡收养了这只北极熊，为他取名贝肯。杰西卡是安全部非常出色的特工。贝…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/detail/18389.html"><img class="lazy"
                                                                          data-original="https://img.domp4.cc/vod/4/58670ab84e1d9.jpg"
                                                                          src="./2017年1月贺岁档动画电影迅雷下载_MP4电影_files/blank.png"
                                                                          alt="《逗逗迪迪之美梦年年》"></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/18389.html">逗逗迪迪之美梦年年</a></h2>
                        <p class="actor"><span>主演∶</span><span><a rel="nofollow" target="_blank"
                                                                  href="https://www.domp4.cc/search/%E6%9B%BE%E5%85%81%E5%87%A1-1.html">曾允凡</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E7%8E%8B%E5%8D%8E%E6%80%A1-1.html">王华怡</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E9%92%B1%E6%AC%A3%E9%83%81-1.html">钱欣郁</a></span>
                        </p>
                        <p class="director"><span>导演∶</span><span><a rel="nofollow" target="_blank"
                                                                     href="https://www.domp4.cc/search/%E7%8E%8B%E9%BE%99%E6%B3%A2-1.html">王龙波</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E8%B7%AF%E9%94%A6%E6%98%8E-1.html">路锦明</a></span>
                        </p>
                        <p><span>地区∶</span>大陆</p>
                        <p class="info">
                            该片讲述了逗逗、迪迪这对可爱的兄妹，为了帮助小伙伴，来到了奇异、梦幻、天马行空的梦之世界，和美梦精灵一起守护美梦小镇的童话故事。逗逗、迪迪，是一对可爱的双胞胎兄…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/detail/18161.html"><img class="lazy"
                                                                          data-original="https://img.domp4.cc/vod/d/5847744fdc09f.jpg"
                                                                          src="./2017年1月贺岁档动画电影迅雷下载_MP4电影_files/blank.png"
                                                                          alt="《辛巴达与美人鱼公主》"></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/18161.html">辛巴达与美人鱼公主</a></h2>
                        <p class="actor"><span>主演∶</span><span><a rel="nofollow" target="_blank"
                                                                  href="https://www.domp4.cc/search/%E7%8E%8B%E9%9B%AA%E6%B2%81-1.html">王雪沁</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E5%94%90%E6%B3%BD%E5%AE%97-1.html">唐泽宗</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E6%9D%A8%E8%BF%9B-1.html">杨进</a></span></p>
                        <p class="director"><span>导演∶</span><span><a rel="nofollow" target="_blank"
                                                                     href="https://www.domp4.cc/search/%E6%9D%8E%E9%9C%9E-1.html">李霞</a></span>
                        </p>
                        <p><span>地区∶</span>大陆</p>
                        <p class="info">
                            影片讲述了大西洋上有一座盛产黄金的“理想岛”，找到它是辛巴达的梦想。但是作为一名造船厂的小工，辛巴达连出海的资格都没有，直到赌场的老板娘帮他赢了三个“海盗”，辛…</p></div>
                </li>
                <li><a href="https://www.domp4.cc/detail/18087.html"><img class="lazy"
                                                                          data-original="https://img.domp4.cc/vod/1/58366fd5d3e9f.jpg"
                                                                          src="./2017年1月贺岁档动画电影迅雷下载_MP4电影_files/blank.png"
                                                                          alt="《猪猪侠之英雄猪少年》"></a>
                    <div class="text_info"><h2><a href="https://www.domp4.cc/detail/18087.html">猪猪侠之英雄猪少年</a></h2>
                        <p class="actor"><span>主演∶</span><span><a rel="nofollow" target="_blank"
                                                                  href="https://www.domp4.cc/search/%E9%99%88%E8%BD%B6-1.html">陈轶</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E6%88%8E%E5%A6%8D-1.html">戎妍</a></span> /
                            <span><a rel="nofollow" target="_blank"
                                     href="https://www.domp4.cc/search/%E6%98%93%E7%83%8A%E5%8D%83%E7%8E%BA-1.html">易烊千玺</a></span>
                        </p>
                        <p class="director"><span>导演∶</span><span><a rel="nofollow" target="_blank"
                                                                     href="https://www.domp4.cc/search/%E9%99%86%E9%94%A6%E6%98%8E-1.html">陆锦明</a></span>
                            / <span><a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E9%92%9F%E8%A3%95-1.html">钟裕</a></span></p>
                        <p><span>地区∶</span>大陆</p>
                        <p class="info">传奇五灵锁拥有可以保护世界的神奇力量，却阴差阳错地选中了“一无是处”的猪猪侠（陆双
                            配音）作为它的主人，此时出现了一个可怕的黑衣人，他的目标竟是要毁掉所有的五灵…</p></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="vod_right">
        <div class="top">
            <script src="./2017年1月贺岁档动画电影迅雷下载_MP4电影_files/right.js"></script>
        </div>
        <div class="list-group cclear">
            <div class="cclear" id="heading-text">热门专题排行</div>
            <ul>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/34.html" title="2020奥斯卡获奖名单">2020奥斯卡获奖名单</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/33.html" title="2019年12月份好看电影佳片推荐">2019年12月份好看电影佳片推荐</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/35.html"
                                               title="高口碑印度电影推荐">高口碑印度电影推荐</a></li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/31.html" title="2019评分最高华语电影合集">2019评分最高华语电影合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/21.html" title="2017年最值得期待的欧美院线大片合集">2017年最值得期待的欧美院线大片合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/30.html" title="2019评分最高外语电影合集">2019评分最高外语电影合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/32.html" title="2019年度冷门佳片合集">2019年度冷门佳片合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/29.html" title="2019年中国十大票房电影排行榜">2019年中国十大票房电影排行榜</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/19.html" title="2016年度最佳类型电影合集">2016年度最佳类型电影合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/27.html" title="2019最值得期待的华语电影合集">2019最值得期待的华语电影合集</a>
                </li>
            </ul>
        </div>
        <div class="list-group cclear">
            <div class="cclear" id="heading-text">最新专题推荐</div>
            <ul>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/35.html"
                                               title="高口碑印度电影推荐">高口碑印度电影推荐</a></li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/34.html" title="2020奥斯卡获奖名单">2020奥斯卡获奖名单</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/33.html" title="2019年12月份好看电影佳片推荐">2019年12月份好看电影佳片推荐</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/32.html" title="2019年度冷门佳片合集">2019年度冷门佳片合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/31.html" title="2019评分最高华语电影合集">2019评分最高华语电影合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/30.html" title="2019评分最高外语电影合集">2019评分最高外语电影合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/29.html" title="2019年中国十大票房电影排行榜">2019年中国十大票房电影排行榜</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/28.html" title="2019年11月份佳片推荐">2019年11月份佳片推荐</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/27.html" title="2019最值得期待的华语电影合集">2019最值得期待的华语电影合集</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/special/26.html" title="2019最值得期待的外语电影合集">2019最值得期待的外语电影合集</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% include 'footer.html.twig' %}

</body>
{% endblock %}
